# Packages, libraries and dataset loading

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

Loading the dataset

In [ ]:
# loading Book Value Y
url1 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/book_value_y.csv'
df_bookvalue = pd.read_csv(url1, on_bad_lines='skip', sep=';',decimal=',')

# loading Gross Dividends Y
url2 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/gross_div_y.csv'
df_grossdiv = pd.read_csv(url2, on_bad_lines='skip', sep=';',decimal=',')

# loading Total Employment Y
url3 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/tot_emp_y.csv'
df_totemp = pd.read_csv(url3, on_bad_lines='skip', sep=';')

#loading Total Revenue Y

url4 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/tot_rev_y.csv'
df_totrev = pd.read_csv(url4, on_bad_lines='skip', sep=';')

# EDA and data cleaning

Describe and head

In [ ]:
#df_bookvalue.describe()
#df_totemp.describe()
#df_totrev.describe()
#df_grossdiv.describe()

In [ ]:
#df_bookvalue.head(5)
#df_totemp.head(5) # delete first row containing 1999
#df_totrev.head(5)
#df_grossdiv.head(5) # delete first row containing 1999

#some errors in 1999 so let's delete that year by dropping the row

df_totemp = df_totemp.drop(labels=0, axis=0)
df_grossdiv = df_grossdiv.drop(labels=0, axis=0)

Data cleaning

In [ ]:
#renaming the first column as date
df_bookvalue.rename(columns = {'Name':'Date'}, inplace = True)
df_bookvalue.head(10)

df_grossdiv.rename(columns = {'Name':'Date'}, inplace = True)
df_grossdiv.head(10)

df_totemp.rename(columns = {'Name':'Date'}, inplace = True)
df_totemp.head(10)

df_totrev.rename(columns = {'Name':'Date'}, inplace = True)
df_totrev.head(10)

,Date,KINARUS THERAPE - NET SALES OR REVENUES,ABB LTD - NET SALES OR REVENUES,AMS OSRAM - NET SALES OR REVENUES,PIERER MOBILITY AG - NET SALES OR REVENUES,ACCU HOLDING AG - NET SALES OR REVENUES,BANQUE CANTONALE - NET SALES OR REVENUES,SIKA AG - NET SALES OR REVENUES,ACINO INTERNAT - NET SALES OR REVENUES,ACTELION AG - NET SALES OR REVENUES,...,CEVA LOGIS - NET SALES OR REVENUES,SOFTWAREONE HOLDING - NET SALES OR REVENUES,WEATHERFORD INTERNTL - NET SALES OR REVENUES,ACHIKO AG - NET SALES OR REVENUES,INA INVEST - NET SALES OR REVENUES,V-ZUG HOLDING AG - NET SALES OR REVENUES,POLYPEPTIDE - NET SALES OR REVENUES,MONTANA AER - NET SALES OR REVENUES,WINTERTHUR TECH - NET SALES OR REVENUES,MEDMIX AG - NET SALES OR REVENUES
0,2000,116725.0,38805503.0,121878.0,61362.0,113098.0,305545.0,1998000.0,458831.0,31523.0,...,NaN,NaN,1814261.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,31530.0,40096940.0,148217.0,65777.0,104750.0,306462.0,2103000.0,281948.0,64075.0,...,NaN,NaN,2328715.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,10981.0,28540200.0,129180.0,58971.0,78675.0,294981.0,2121700.0,241409.0,129641.0,...,NaN,NaN,2328930.0,NaN,NaN,NaN,NaN,NaN,95861.0,NaN
3,2003,45553.0,25185300.0,134352.0,60099.0,67669.0,268114.0,2268200.0,215205.0,307544.0,...,NaN,NaN,2591408.0,NaN,NaN,NaN,NaN,NaN,103288.0,NaN
4,2004,30477.0,25694040.0,160524.0,64421.0,70640.0,258032.0,2559800.0,216155.0,471880.0,...,NaN,NaN,3131774.0,NaN,NaN,NaN,NaN,NaN,111793.0,NaN
5,2005,17714.0,27828080.0,178391.0,76618.0,72408.0,267463.0,2916500.0,302592.0,663589.0,...,NaN,NaN,4333227.0,NaN,NaN,NaN,NaN,NaN,120811.0,NaN
6,2006,16224.0,30389522.0,196402.0,88531.0,59922.0,289151.0,3896100.0,132543.0,945673.0,...,NaN,NaN,6578928.0,NaN,NaN,NaN,NaN,NaN,135778.0,NaN
7,2007,5223.0,34813860.0,193925.0,98333.0,55787.0,321460.0,4573200.0,180512.0,1317392.0,...,NaN,NaN,7832062.0,NaN,NaN,NaN,NaN,NaN,259868.0,NaN
8,2008,1594.0,37532146.0,184699.0,106208.0,71593.0,346035.0,4624500.0,231779.0,1473508.0,...,NaN,NaN,9600564.0,NaN,NaN,NaN,NaN,NaN,346237.0,NaN
9,2009,10092.0,34378662.0,137166.0,82253.0,48837.0,306420.0,4154900.0,238160.0,1772564.0,...,NaN,NaN,8826933.0,NaN,NaN,NaN,NaN,NaN,207969.0,NaN

In [ ]:
#setting date as index - only run once!
df_bookvalue = df_bookvalue.set_index('Date')
df_bookvalue

df_grossdiv = df_grossdiv.set_index('Date')
df_grossdiv

df_totemp = df_totemp.set_index('Date')
df_totemp

df_totrev = df_totrev.set_index('Date')
df_totrev

,KINARUS THERAPE - NET SALES OR REVENUES,ABB LTD - NET SALES OR REVENUES,AMS OSRAM - NET SALES OR REVENUES,PIERER MOBILITY AG - NET SALES OR REVENUES,ACCU HOLDING AG - NET SALES OR REVENUES,BANQUE CANTONALE - NET SALES OR REVENUES,SIKA AG - NET SALES OR REVENUES,ACINO INTERNAT - NET SALES OR REVENUES,ACTELION AG - NET SALES OR REVENUES,OC OERLIKON CORP - NET SALES OR REVENUES,...,CEVA LOGIS - NET SALES OR REVENUES,SOFTWAREONE HOLDING - NET SALES OR REVENUES,WEATHERFORD INTERNTL - NET SALES OR REVENUES,ACHIKO AG - NET SALES OR REVENUES,INA INVEST - NET SALES OR REVENUES,V-ZUG HOLDING AG - NET SALES OR REVENUES,POLYPEPTIDE - NET SALES OR REVENUES,MONTANA AER - NET SALES OR REVENUES,WINTERTHUR TECH - NET SALES OR REVENUES,MEDMIX AG - NET SALES OR REVENUES
Date,,,,,,,,,,,,,,,,,,,,,
2000,116725.0,38805503.0,121878.0,61362.0,113098.0,305545.0,1998000.0,458831.0,31523.0,3285000.0,...,NaN,NaN,1814261.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,31530.0,40096940.0,148217.0,65777.0,104750.0,306462.0,2103000.0,281948.0,64075.0,2127000.0,...,NaN,NaN,2328715.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,10981.0,28540200.0,129180.0,58971.0,78675.0,294981.0,2121700.0,241409.0,129641.0,1490000.0,...,NaN,NaN,2328930.0,NaN,NaN,NaN,NaN,NaN,95861.0,NaN
2003,45553.0,25185300.0,134352.0,60099.0,67669.0,268114.0,2268200.0,215205.0,307544.0,1610000.0,...,NaN,NaN,2591408.0,NaN,NaN,NaN,NaN,NaN,103288.0,NaN
2004,30477.0,25694040.0,160524.0,64421.0,70640.0,258032.0,2559800.0,216155.0,471880.0,1850000.0,...,NaN,NaN,3131774.0,NaN,NaN,NaN,NaN,NaN,111793.0,NaN
2005,17714.0,27828080.0,178391.0,76618.0,72408.0,267463.0,2916500.0,302592.0,663589.0,1605000.0,...,NaN,NaN,4333227.0,NaN,NaN,NaN,NaN,NaN,120811.0,NaN
2006,16224.0,30389522.0,196402.0,88531.0,59922.0,289151.0,3896100.0,132543.0,945673.0,2291000.0,...,NaN,NaN,6578928.0,NaN,NaN,NaN,NaN,NaN,135778.0,NaN
2007,5223.0,34813860.0,193925.0,98333.0,55787.0,321460.0,4573200.0,180512.0,1317392.0,5629000.0,...,NaN,NaN,7832062.0,NaN,NaN,NaN,NaN,NaN,259868.0,NaN
2008,1594.0,37532146.0,184699.0,106208.0,71593.0,346035.0,4624500.0,231779.0,1473508.0,4750000.0,...,NaN,NaN,9600564.0,NaN,NaN,NaN,NaN,NaN,346237.0,NaN
2009,10092.0,34378662.0,137166.0,82253.0,48837.0,306420.0,4154900.0,238160.0,1772564.0,2877000.0,...,NaN,NaN,8826933.0,NaN,NaN,NaN,NaN,NaN,207969.0,NaN
2010,27050.0,32701565.0,209419.0,69589.0,0.0,306416.0,4416000.0,174275.0,1928969.0,3601000.0,...,NaN,NaN,10220797.0,NaN,NaN,NaN,NaN,NaN,261581.0,NaN
2011,21749.0,33392619.0,275704.0,71087.0,2045.0,313729.0,4556400.0,165731.0,1796063.0,4182000.0,...,NaN,NaN,12990000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,34988.0,36533653.0,387636.0,76007.0,30033.0,311990.0,4828900.0,309538.0,1728396.0,2906000.0,...,NaN,NaN,15215000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,27443.0,38659497.0,377789.0,88382.0,89808.0,300755.0,5142200.0,322489.0,1785740.0,2883000.0,...,NaN,NaN,15263000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,24342.0,36929320.0,464370.0,5823.0,132942.0,288056.0,5571300.0,NaN,1957875.0,3215000.0,...,7221668.0,NaN,14911000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,15594.0,34295527.0,623100.0,1223570.0,158528.0,275105.0,5489200.0,NaN,2045062.0,2671000.0,...,6709659.0,NaN,9433000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,17944.0,33653679.0,549940.0,1342962.0,NaN,264750.0,5747700.0,NaN,2417938.0,2331000.0,...,6570767.0,3041305.0,5749000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,17554.0,33499718.0,1063773.0,1532998.0,NaN,277356.0,6248300.0,NaN,NaN,2847000.0,...,6857407.0,3310236.0,5699000.0,NaN,NaN,533961.0,NaN,NaN,NaN,NaN
2018,16194.0,27084830.0,1426306.0,1462231.0,NaN,268722.0,7085400.0,NaN,NaN,2609000.0,...,7186150.0,3740594.0,5744000.0,NaN,NaN,538996.0,208821.0,NaN,NaN,454000.0
2019,17304.0,27777258.0,1885265.0,1520135.0,NaN,265132.0,8109200.0,NaN,NaN,2593000.0,...,7075414.0,7610840.0,5215000.0,6423.0,NaN,543626.0,226207.0,NaN,NaN,420700.0
2020,4109.0,24337993.0,3504000.0,1530382.0,NaN,262047.0,7877500.0,NaN,NaN,2258000.0,...,6922243.0,7906255.0,3685000.0,2619.0,2190.0,569426.0,240743.0,NaN,NaN,351300.0
2021,0.0,26482545.0,5038000.0,2041730.0,NaN,262815.0,9252300.0,NaN,NaN,2649000.0,...,NaN,964353.0,3645000.0,57.0,20680.0,623735.0,308908.0,852687.0,NaN,457300.0
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Let's see the notebooks head now

#df_bookvalue.head() 296 columns
#df_totemp.head() 296 columns
#df_totrev.head() 296 columns
#df_grossdiv.head() 296 columns

# Calculating Weights

In [ ]:
#Formula to calculate weights
weights_bookvalue = df_bookvalue.loc[:,df_bookvalue.select_dtypes(exclude='object').columns]=df_bookvalue.select_dtypes(exclude='object').div(df_bookvalue.select_dtypes(exclude='object').sum(1),0)
weights_bookvalue

weights_grossdiv = df_grossdiv.loc[:,df_grossdiv.select_dtypes(exclude='object').columns]=df_grossdiv.select_dtypes(exclude='object').div(df_grossdiv.select_dtypes(exclude='object').sum(1),0)
weights_grossdiv

weights_totemp = df_totemp.loc[:,df_totemp.select_dtypes(exclude='object').columns]=df_totemp.select_dtypes(exclude='object').div(df_totemp.select_dtypes(exclude='object').sum(1),0)
weights_totemp

weights_totrev = df_totrev.loc[:,df_totrev.select_dtypes(exclude='object').columns]=df_totrev.select_dtypes(exclude='object').div(df_totrev.select_dtypes(exclude='object').sum(1),0)
weights_totrev

,KINARUS THERAPE - NET SALES OR REVENUES,ABB LTD - NET SALES OR REVENUES,AMS OSRAM - NET SALES OR REVENUES,PIERER MOBILITY AG - NET SALES OR REVENUES,ACCU HOLDING AG - NET SALES OR REVENUES,BANQUE CANTONALE - NET SALES OR REVENUES,SIKA AG - NET SALES OR REVENUES,ACINO INTERNAT - NET SALES OR REVENUES,ACTELION AG - NET SALES OR REVENUES,OC OERLIKON CORP - NET SALES OR REVENUES,...,CEVA LOGIS - NET SALES OR REVENUES,SOFTWAREONE HOLDING - NET SALES OR REVENUES,WEATHERFORD INTERNTL - NET SALES OR REVENUES,ACHIKO AG - NET SALES OR REVENUES,INA INVEST - NET SALES OR REVENUES,V-ZUG HOLDING AG - NET SALES OR REVENUES,POLYPEPTIDE - NET SALES OR REVENUES,MONTANA AER - NET SALES OR REVENUES,WINTERTHUR TECH - NET SALES OR REVENUES,MEDMIX AG - NET SALES OR REVENUES
Date,,,,,,,,,,,,,,,,,,,,,
2000,0.000141,0.047034,0.000148,0.000074,0.000137,0.000370,0.002422,0.000556,0.000038,0.003982,...,NaN,NaN,0.002199,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,0.000037,0.047488,0.000176,0.000078,0.000124,0.000363,0.002491,0.000334,0.000076,0.002519,...,NaN,NaN,0.002758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,0.000014,0.036962,0.000167,0.000076,0.000102,0.000382,0.002748,0.000313,0.000168,0.001930,...,NaN,NaN,0.003016,NaN,NaN,NaN,NaN,NaN,0.000124,NaN
2003,0.000059,0.032727,0.000175,0.000078,0.000088,0.000348,0.002947,0.000280,0.000400,0.002092,...,NaN,NaN,0.003367,NaN,NaN,NaN,NaN,NaN,0.000134,NaN
2004,0.000038,0.032385,0.000202,0.000081,0.000089,0.000325,0.003226,0.000272,0.000595,0.002332,...,NaN,NaN,0.003947,NaN,NaN,NaN,NaN,NaN,0.000141,NaN
2005,0.000019,0.029932,0.000192,0.000082,0.000078,0.000288,0.003137,0.000325,0.000714,0.001726,...,NaN,NaN,0.004661,NaN,NaN,NaN,NaN,NaN,0.000130,NaN
2006,0.000016,0.029037,0.000188,0.000085,0.000057,0.000276,0.003723,0.000127,0.000904,0.002189,...,NaN,NaN,0.006286,NaN,NaN,NaN,NaN,NaN,0.000130,NaN
2007,0.000005,0.030739,0.000171,0.000087,0.000049,0.000284,0.004038,0.000159,0.001163,0.004970,...,NaN,NaN,0.006915,NaN,NaN,NaN,NaN,NaN,0.000229,NaN
2008,0.000002,0.040331,0.000198,0.000114,0.000077,0.000372,0.004969,0.000249,0.001583,0.005104,...,NaN,NaN,0.010316,NaN,NaN,NaN,NaN,NaN,0.000372,NaN
2009,0.000012,0.040234,0.000161,0.000096,0.000057,0.000359,0.004863,0.000279,0.002074,0.003367,...,NaN,NaN,0.010330,NaN,NaN,NaN,NaN,NaN,0.000243,NaN
2010,0.000032,0.038915,0.000249,0.000083,0.000000,0.000365,0.005255,0.000207,0.002296,0.004285,...,NaN,NaN,0.012163,NaN,NaN,NaN,NaN,NaN,0.000311,NaN
2011,0.000027,0.041944,0.000346,0.000089,0.000003,0.000394,0.005723,0.000208,0.002256,0.005253,...,NaN,NaN,0.016316,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,0.000043,0.045368,0.000481,0.000094,0.000037,0.000387,0.005997,0.000384,0.002146,0.003609,...,NaN,NaN,0.018894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,0.000033,0.046828,0.000458,0.000107,0.000109,0.000364,0.006229,0.000391,0.002163,0.003492,...,NaN,NaN,0.018488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,0.000027,0.041698,0.000524,0.000007,0.000150,0.000325,0.006291,NaN,0.002211,0.003630,...,0.008154,NaN,0.016836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,0.000020,0.044659,0.000811,0.001593,0.000206,0.000358,0.007148,NaN,0.002663,0.003478,...,0.008737,NaN,0.012283,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,0.000021,0.040143,0.000656,0.001602,NaN,0.000316,0.006856,NaN,0.002884,0.002780,...,0.007838,0.003628,0.006858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,0.000020,0.037828,0.001201,0.001731,NaN,0.000313,0.007056,NaN,NaN,0.003215,...,0.007744,0.003738,0.006435,NaN,NaN,0.000603,NaN,NaN,NaN,NaN
2018,0.000020,0.033155,0.001746,0.001790,NaN,0.000329,0.008673,NaN,NaN,0.003194,...,0.008797,0.004579,0.007031,NaN,NaN,0.000660,0.000256,NaN,NaN,0.000556
2019,0.000018,0.029625,0.002011,0.001621,NaN,0.000283,0.008649,NaN,NaN,0.002766,...,0.007546,0.008117,0.005562,6.850313e-06,NaN,0.000580,0.000241,NaN,NaN,0.000449
2020,0.000005,0.030133,0.004338,0.001895,NaN,0.000324,0.009753,NaN,NaN,0.002796,...,0.008570,0.009789,0.004562,3.242545e-06,0.000003,0.000705,0.000298,NaN,NaN,0.000435
2021,0.000000,0.030349,0.005774,0.002340,NaN,0.000301,0.010603,NaN,NaN,0.003036,...,NaN,0.001105,0.004177,6.532258e-08,0.000024,0.000715,0.000354,0.000977,NaN,0.000524
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#weights work!
sommauno = weights_totemp.sum(axis = 1)
sommauno.head(5)

Date
2000    1.0
2001    1.0
2002    1.0
2003    1.0
2004    1.0
dtype: float64

In [ ]:
#let's. check dimensions

# weights_bookvalue.head() #5 per 293 - this goes down of 3 companies because of error rows in the initial excel so 293 is right
# weights_grossdiv.head() 5 per 291
# weights_totemp.head() 5 per 282
# weights_totrev.head() 5 per 293

#therefore we bring all down to 282 circa

# Data Cleaning of Weights

In [ ]:
# loading Book Value Weights
url5 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/weights_bookvalue.csv'
e_weights_bookvalue = pd.read_csv(url5, on_bad_lines='skip', sep=';',decimal=',')

# loading Gross Dividends Weights
url6 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/weights_grossdiv.csv'
e_weights_grossdiv = pd.read_csv(url6, on_bad_lines='skip', sep=';',decimal=',')

# loading Total Employment Weights
url7 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/weights_totemp.csv'
e_weights_totemp = pd.read_csv(url7, on_bad_lines='skip', sep=';')

#loading Total Revenue Weights

url8 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/weights_totrev.csv'
e_weights_totrev = pd.read_csv(url8, on_bad_lines='skip', sep=';')

In [ ]:
#dropping long name of companies
e_weights_bookvalue1 = e_weights_bookvalue.drop(e_weights_bookvalue.columns[1], axis=1)
e_weights_grossdiv1 = e_weights_grossdiv.drop(e_weights_grossdiv.columns[1], axis=1)
e_weights_totemp1 = e_weights_totemp .drop(e_weights_totemp .columns[1], axis=1)
e_weights_totrev1 = e_weights_totrev.drop(e_weights_totrev.columns[1], axis=1)

In [ ]:
#setting date as index - only run once!
e_weights_bookvalue1 = e_weights_bookvalue1.set_index('Date')
e_weights_bookvalue1 = e_weights_bookvalue1.transpose()
e_weights_bookvalue2 = e_weights_bookvalue1.transpose()

e_weights_grossdiv1 = e_weights_grossdiv1.set_index('Date')
e_weights_grossdiv1 = e_weights_grossdiv1.transpose()
e_weights_grossdiv2 = e_weights_grossdiv1.transpose()

e_weights_totemp1 = e_weights_totemp1.set_index('Date')
e_weights_totemp1 = e_weights_totemp1.transpose()
e_weights_totemp2 = e_weights_totemp1.transpose()

e_weights_totrev1 = e_weights_totrev1.set_index('Date')
e_weights_totrev1 = e_weights_totrev1.transpose()
e_weights_totrev2 = e_weights_totrev1.transpose()
e_weights_totrev2

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Date,,,,,,,,,,,,,,,,,,,,,
ABB LTD,0.047034,0.047488,0.036962,0.032727,0.032385,0.029932,0.029037,0.030739,0.040331,0.040234,...,0.046828,0.041698,0.044659,0.040143,0.037828,0.033155,0.029625,0.030133,3.034927e-02,NaN
ACCU HOLDING AG,0.000137,0.000124,0.000102,0.000088,0.000089,0.000078,0.000057,0.000049,0.000077,0.000057,...,0.000109,0.000150,0.000206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACHIKO AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000007,0.000003,6.532258e-08,NaN
ACINO INTERNAT,0.000556,0.000334,0.000313,0.000280,0.000272,0.000325,0.000127,0.000159,0.000249,0.000279,...,0.000391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACTELION AG,0.000038,0.000076,0.000168,0.000400,0.000595,0.000714,0.000904,0.001163,0.001583,0.002074,...,0.002163,0.002211,0.002663,0.002884,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZUG ESTATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000072,0.000071,0.000082,0.000073,0.000072,0.000086,0.000129,0.000173,9.072160e-05,NaN
ZUGER KANTONALBANK,0.000499,0.000500,0.000510,0.000452,0.000420,0.000359,0.000321,0.000331,0.000405,0.000394,...,0.000382,0.000344,0.000384,0.000336,0.000311,0.000331,0.000284,0.000317,2.900976e-04,NaN
ZUR ROSE GROUP AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001103,0.001034,0.001087,0.001049,0.001110,0.001478,0.001446,0.001829,1.978590e-03,NaN
ZURICH INSURANCE,0.076829,0.078443,0.084874,0.090719,0.093289,0.089842,0.077837,0.050443,0.037494,0.073144,...,0.080620,0.075466,0.075982,0.079402,0.070905,0.056447,0.076356,0.068098,7.345510e-02,NaN
ZWAHLEN & MAYR S.A.,0.000104,0.000088,0.000089,0.000093,0.000098,0.000097,0.000093,0.000101,0.000116,0.000080,...,0.000105,0.000073,0.000093,0.000070,0.000060,0.000076,0.000061,0.000052,6.391986e-05,NaN

In [ ]:
#list of all companies
cols = e_weights_totemp1.columns.tolist()
cols

['ABB LTD ',
 'ACCU HOLDING AG ',
 'ACHIKO AG ',
 'ACINO INTERNAT ',
 'ACTELION AG ',
 'ADDEX THERAPEUTICS ',
 'ADECCO GROUP ',
 'ADVAL TECH HOLDING A ',
 'ADVANCED DIGITAL ',
 'AEVIS VICTORIA ',
 'AIRESIS SA ',
 'ALCON AG ',
 'ALLREAL HOLDING AG ',
 'ALSO HOLDING AG ',
 'ALUFLEXPA ',
 'AMS OSRAM ',
 'APG SGA SA ',
 'APTG AG ',
 'ARBONIA AG ',
 'ARUNDEL AG ',
 'ARYZTA AG ',
 'ASCOM HOLDING AG ',
 'AUTONEUM HOLD ',
 'BACHEM HOLDING ',
 'BALOISE HOLDING AG ',
 'BANK CA ST. GALLEN ',
 'BANK CLER AG ',
 'BANK J SAFRA ',
 'BANK LINTH LLB AG ',
 'BANQUE CANT VAUDOISE ',
 'BANQUE CANTON GENEVE ',
 'BANQUE CANTONALE ',
 'BANQUE CANTONALE 1 ',
 'BARRY CALLEBAUT ',
 'BASELLAND KANTONALBK ',
 'BASILEA PHARMACEUTIC ',
 'BASLER KANTONALBANK ',
 'BELIMO HOLDINGS AG ',
 'BELL FOOD GROUP AG ',
 'BELLEVUE GROUP AG ',
 'BERGBAHNEN TITLIS AG ',
 'BERNER KANTO ',
 'BFW LIEGENSCHAFTEN ',
 'BIOXELL S.P.A. ',
 'BKW AG ',
 'BOBST GROUP SA ',
 'BONDPARTNERS SA ',
 'BOSSARD HOLDING AG ',
 'BUCHER INDUSTRIES AG ',
 'BURCKHARDT COMP ',
 'BURKHALTER ',
 'BVZ HOLDING AG ',
 'BYSTRONIC ',
 'CALIDA HOLDING AG ',
 'CARLO GAVAZZI AG ',
 'CASSIOPEA ',
 'CEMBRA MONEY BANK AG ',
 'CEVA LOGIS ',
 'CHAM GROUP AG ',
 'CHARLES VOG ',
 'CHOCO LINDT & SPRUEN ',
 'CHOCO LINDT & SPRUEN 1 ',
 'CI COM SA ',
 'CIBA HOLDING AG ',
 'CICOR TECHNOLOGIES ',
 'CIE FINANC TRADITION ',
 'CLARIANT AG ',
 'COLTENE HOLDING ',
 'COMET HOLDING AG ',
 'COMPAGNIE FINAN ',
 'COSMO PHARMA ',
 'CPH CHEMIE & PAPIER ',
 'CREALOGIX HOLDING ',
 'CREDIT SUISSE GROUP ',
 'DAETWYLER HOLDING AG ',
 'DATACOLOR AG ',
 'DKSH HOLDING AG ',
 'DORMAKABA HOLDING ',
 'DOTTIKON ES HOLDING ',
 'DUFRY AG ',
 'EDIPRESSE SA ',
 'EDISUN POWER ',
 'EDMOND DE ROTHSCHILD ',
 'EFG INTERNATIONAL ',
 'ELMA ELECTRONIC AG ',
 'EMMI AG ',
 'EMS',
 'ENERGIEDIENST HLDG ',
 'EVOLVA HOLDING ',
 'FEINTOOL INT HOLDING ',
 'FLUGHAFEN ZURICH AG ',
 'FORBO HOLDING AG ',
 'FUNDAMENTA REAL ',
 'GALENICA AG ',
 'GAM HOLDING AG ',
 'GATEGROUP HOLDING AG ',
 'GEBERIT AG ',
 'GEORG FISCHER AG ',
 'GIVAUDAN SA ',
 'GLARNER KANT ',
 'GLOBAL NATURAL RES ',
 'GOLAY BUCHEL HOLDING ',
 'GOLAY BUCHEL HOLDING 1 ',
 'GOLDBACH GROUP AG ',
 'GRAUBUENDNER KBK ',
 'GROUPE MINOTERIES SA ',
 'GURIT HOLDING AG ',
 'HARWANNE CIE ',
 'HELVETIA HOLDING ',
 'HIAG IMMOBILIEN ',
 'HIGHLIGHT EVENT AND ',
 'HOCHDORF HOLDING AG ',
 'HOLCI ',
 'HUBER+SUHNER AG ',
 'HUEGLI HOLDING AG ',
 'HYPOTHERBK LENZBURG ',
 'IMPLENIA AG ',
 'INA INVEST ',
 'INFICON HOLDING AG ',
 'INFRANOR INTER AG ',
 'INTERROLL HOLDING AG ',
 'INTERSHOP HOLDING AG ',
 'INTL MINERALS CORP ',
 'INVESTIS HOLDING SA ',
 'IVF HARTMANN HLDG ',
 'JELMOLI HOLDING AG ',
 'JULIUS BAER ',
 'JUNGFRAUBAHN ',
 'KARDEX HOLDING ',
 'KINARUS THERAPE ',
 'KLINGELNBERG AG ',
 'KOMAX HOLDING AG ',
 'KUDELSKI SA ',
 'KUEHNE UND NAG ',
 'KUONI REISEN HLD AG ',
 'KUROS BIOSCIENCE ',
 'LALIQUE GROUP ',
 'LANDIS+GYR GROUP AG ',
 'LASTMINUTE.COM NV ',
 'LECLANCHE SA ',
 'LEM HOLDING SA ',
 'LENZERHEIDE BERGBA ',
 'LEONTEQ AG ',
 'LIECHTENSTEIN LANDBK ',
 'LIFEWATCH GMBH ',
 'LOEB HOLDING AG ',
 'LOGITECH INTERNAT ',
 'LONZA GROUP AG ',
 'LOOSER HOLDING AG ',
 'LUMX GROUP LTD ',
 'LUZERNER KANTONAL ',
 'MCH GROUP AG ',
 'MEDACTA GROUP SA ',
 'MEDARTIS HOLDING AG ',
 'MEDMIX AG ',
 'MEIER T ',
 'METALL ZUG AG ',
 'MEYER BURGER TECH ',
 'MICRONAS SEM ',
 'MIKRON HOLDING AG ',
 'MINDSET HOLDING AG ',
 'MOBILEZONE HOLDING ',
 'MOBIMO HOLDING AG ',
 'MOLECULAR PARTNERS ',
 'MONTANA AER ',
 'MYRIAD GROUP ',
 'NESTLE SA ',
 'NEWAVE ENERGY HOLD ',
 'NEWRON PHARMA ',
 'NOBEL BIOCARE HLDG ',
 'NORINVEST HOLDING ',
 'NOVARTIS ',
 'OBSEVA SA ',
 'OC OERLIKON CORP ',
 'ONE SWISS BANK SA ',
 'ORASCOM DEVELOPMENT ',
 'ORELL FUESSLI HOLD ',
 'ORIOR AG ',
 'PANALPINA WEL ',
 'PARGESA HOLDING SA ',
 'PARTNERS GR ',
 'PAX',
 'PEACH PROPERTY ',
 'PERROT DUVAL HOLDING ',
 'PERROT DUVAL HOLDING 1 ',
 'PETROPLUS HOLDINGS ',
 'PHOENIX MECANO AG ',
 'PIERER MOBILITY AG ',
 'PLAZZA AG ',
 'POENINA HOLDING AG ',
 'POLYPEPTIDE ',
 'PRECIOUS WOODS HLDG ',
 'PRIVATE EQUITY HLDG ',
 'PSP SWISS PROPERTY ',
 'PUBLIGROUPE SA ',
 'QUADRANT AG ',
 'RELIEF THERAPEUT ',
 'REPOWER AG ',
 'RIETER HOLDING AG ',
 'ROCHE HOLDING AG ',
 'ROMANDE ENERGIE ',
 'SANTHERA PHARMA ',
 'SCHAFFNER HOLDING AG ',
 'SCHINDLER HOLDING AG ',
 'SCHINDLER HOLDING AG 1 ',
 'SCHLATTER HOLDING AG ',
 'SCHWEITER TECH AG ',
 'SCHWEIZERISCHE ',
 'SCHWEIZERISCHE NAT ',
 'SENSIRION HOLDING AG ',
 'SF URBAN PROP ',
 'SFS GROUP AG ',
 'SGS SA ',
 'SHL TELEMEDICINE ',
 'SIA ABRASIVES ',
 'SIEGFRIED HOLDING AG ',
 'SIG GROUP AG ',
 'SIKA AG ',
 'SKAN GROUP AG ',
 'SNOWCLIFF LTD ',
 'SOCIETA ELETTRICA ',
 'SOFTWAREONE HOLDING ',
 'SONOVA HOLDING AG ',
 'SPICE PRIVATE ',
 'ST GALLER KANT ',
 'STADLER RAIL AG ',
 'STARRAG GROUP HOLD ',
 'STRAUMANN HOLDING AG ',
 'SULZER AG ',
 'SUNRISE COMMUN ',
 'SUNSTAR HOLDING AG ',
 'SWISS LIFE HOLDING ',
 'SWISS PRIME SITE ',
 'SWISS RE ',
 'SWISS STEEL ',
 'SWISSCOM ',
 'SWISSLOG HOLDING AG ',
 'SWISSQUOTE GROUP ',
 'SWMTL HOLDING AG ',
 'SYNGENTA AG ',
 'SYNTHES INC ',
 'TEC',
 'TECAN GROUP AG ',
 'TECHNOMAG AG ',
 'TEMENOS AG ',
 'THE SWATCH GROUP ',
 'THE SWATCH GROUP 1 ',
 'THURGAUER KANTONAL ',
 'TIDER AG ',
 'TORNOS HOLDING AG ',
 'TRANSOCEAN LTD ',
 'TX GROUP ',
 'U',
 'UBS AG ',
 'UBS GROUP AG ',
 'USTER TECH ',
 'V',
 'VALARTIS GROUP AG ',
 'VALIANT HOLDING ',
 'VALORA HOLDING AG ',
 'VARIA US PROP ',
 'VAT GROUP ',
 'VETROPACK AG ',
 'VICTORIA',
 'VIFOR PHARMA AG ',
 'VILLARS HOLDING SA ',
 'VON ROLL HOLDING ',
 'VONTOBEL HOLDING AG ',
 'VP BANK AG ',
 'VZ HOLDING AG ',
 'WAADT VERSICHERUNGEN ',
 'WARTECK INVEST AG ',
 'WEATHERFORD INTERNTL ',
 'WINTERTHUR TECH ',
 'YPSOMED HOLDING AG ',
 'ZEHNDER GROUP AG ',
 'ZUBLIN IMMOBILIEN ',
 'ZUG ESTATES ',
 'ZUGER KANTONALBANK ',
 'ZUR ROSE GROUP AG ',
 'ZURICH INSURANCE ',
 'ZWAHLEN & MAYR S.A. ']

In [ ]:
e_weights_grossdiv2['new'] = e_weights_grossdiv2.index
e_weights_bookvalue2['new'] = e_weights_bookvalue2.index
e_weights_totrev2['new'] = e_weights_totrev2.index
e_weights_totemp2['new'] = e_weights_totemp2.index

In [ ]:
output_df = e_weights_grossdiv2[e_weights_grossdiv2['new'].isin(cols)]
output_df

output_df1 = e_weights_bookvalue2[e_weights_bookvalue2['new'].isin(cols)]
output_df1

output_df2 = e_weights_totrev2[e_weights_totrev2['new'].isin(cols)]
output_df2

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,new
Date,,,,,,,,,,,,,,,,,,,,,
ABB LTD,0.047034,0.047488,0.036962,0.032727,0.032385,0.029932,0.029037,0.030739,0.040331,0.040234,...,0.041698,0.044659,0.040143,0.037828,0.033155,0.029625,0.030133,3.034927e-02,NaN,ABB LTD
ACCU HOLDING AG,0.000137,0.000124,0.000102,0.000088,0.000089,0.000078,0.000057,0.000049,0.000077,0.000057,...,0.000150,0.000206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACCU HOLDING AG
ACHIKO AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000007,0.000003,6.532258e-08,NaN,ACHIKO AG
ACINO INTERNAT,0.000556,0.000334,0.000313,0.000280,0.000272,0.000325,0.000127,0.000159,0.000249,0.000279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACINO INTERNAT
ACTELION AG,0.000038,0.000076,0.000168,0.000400,0.000595,0.000714,0.000904,0.001163,0.001583,0.002074,...,0.002211,0.002663,0.002884,NaN,NaN,NaN,NaN,NaN,NaN,ACTELION AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZUG ESTATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000071,0.000082,0.000073,0.000072,0.000086,0.000129,0.000173,9.072160e-05,NaN,ZUG ESTATES
ZUGER KANTONALBANK,0.000499,0.000500,0.000510,0.000452,0.000420,0.000359,0.000321,0.000331,0.000405,0.000394,...,0.000344,0.000384,0.000336,0.000311,0.000331,0.000284,0.000317,2.900976e-04,NaN,ZUGER KANTONALBANK
ZUR ROSE GROUP AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001034,0.001087,0.001049,0.001110,0.001478,0.001446,0.001829,1.978590e-03,NaN,ZUR ROSE GROUP AG
ZURICH INSURANCE,0.076829,0.078443,0.084874,0.090719,0.093289,0.089842,0.077837,0.050443,0.037494,0.073144,...,0.075466,0.075982,0.079402,0.070905,0.056447,0.076356,0.068098,7.345510e-02,NaN,ZURICH INSURANCE
ZWAHLEN & MAYR S.A.,0.000104,0.000088,0.000089,0.000093,0.000098,0.000097,0.000093,0.000101,0.000116,0.000080,...,0.000073,0.000093,0.000070,0.000060,0.000076,0.000061,0.000052,6.391986e-05,NaN,ZWAHLEN & MAYR S.A.

In [ ]:
cols1 = output_df['new']
cols1

Date
ABB LTD                             ABB LTD
ACCU HOLDING AG             ACCU HOLDING AG
ACHIKO AG                         ACHIKO AG
ACINO INTERNAT               ACINO INTERNAT
ACTELION AG                     ACTELION AG
                                ...
ZUG ESTATES                     ZUG ESTATES
ZUGER KANTONALBANK       ZUGER KANTONALBANK
ZUR ROSE GROUP AG         ZUR ROSE GROUP AG
ZURICH INSURANCE           ZURICH INSURANCE
ZWAHLEN & MAYR S.A.     ZWAHLEN & MAYR S.A.
Name: new, Length: 280, dtype: object

In [ ]:
output_df = e_weights_grossdiv2[e_weights_grossdiv2['new'].isin(cols)]
output_df

output_df10 = output_df1[output_df1['new'].isin(cols1)]
output_df10

output_df20 = output_df2[output_df2['new'].isin(cols1)]
output_df20

output_df30 = e_weights_totemp2[e_weights_totemp2['new'].isin(cols1)]
output_df30

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,new
Date,,,,,,,,,,,,,,,,,,,,,
ABB LTD,0.105675,0.101855,0.088810,0.077460,0.069011,0.065663,0.063230,0.062442,0.065667,0.063291,...,0.070592,0.063940,0.062755,0.061343,0.066913,0.067716,0.051672,0.053086,NaN,ABB LTD
ACCU HOLDING AG,0.000223,0.000227,0.000206,0.000180,0.000228,0.000152,0.000117,0.000091,0.000085,0.000001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACCU HOLDING AG
ACHIKO AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000023,NaN,NaN,ACHIKO AG
ACINO INTERNAT,0.000292,NaN,NaN,0.000170,0.000244,0.000239,0.000153,0.000178,0.000208,0.000229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACINO INTERNAT
ACTELION AG,0.000149,0.000266,0.000342,0.000453,0.000572,0.000652,0.000733,NaN,0.001040,0.001233,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ACTELION AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZUG ESTATES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000079,0.000072,0.000062,0.000061,0.000062,0.000065,0.000063,0.000061,NaN,ZUG ESTATES
ZUGER KANTONALBANK,0.000233,0.000247,0.000252,0.000262,0.000287,0.000263,0.000222,0.000420,0.000208,0.000215,...,0.000199,0.000189,0.000190,0.000180,0.000181,0.000189,0.000197,NaN,NaN,ZUGER KANTONALBANK
ZUR ROSE GROUP AG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000353,0.000337,0.000357,0.000503,0.000600,0.000802,0.000959,0.001084,NaN,ZUR ROSE GROUP AG
ZURICH INSURANCE,0.047923,0.049757,0.043318,0.039019,0.035836,0.032996,0.030612,0.032458,0.031525,0.030919,...,0.027428,0.025583,0.024890,0.023496,0.023856,0.025337,0.025899,NaN,NaN,ZURICH INSURANCE
ZWAHLEN & MAYR S.A.,NaN,NaN,NaN,NaN,NaN,0.000152,0.000147,0.000142,0.000144,0.000145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZWAHLEN & MAYR S.A.

In [ ]:
#dropping the 'new' column
output_df = output_df.drop(columns=['new'])
output_df10 = output_df10.drop(columns=['new'])
output_df20 = output_df20.drop(columns=['new'])
output_df30 = output_df30.drop(columns=['new'])

In [ ]:
#transposing
final_bookvalue = output_df.transpose()
final_grossdiv = output_df10.transpose()
final_totemp = output_df30.transpose()
final_totrev = output_df20.transpose()

In [ ]:
final_bookvalue

Date,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,AEVIS VICTORIA,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
2000,0.0003574078023024271,0.0,NaN,0.0009610966112334174,0.0,NaN,0.006006853820208859,0.005228966250491812,NaN,0.0,...,0.0,NaN,NaN,0.0005856682474703637,0.007610683790204624,NaN,0.049877910696104255,NaN,0.007886999065934232,0.0036041122921253153
2001,0.0,0.0,NaN,0.0011891817166284021,0.0,NaN,0.0007432385728927513,0.0064698917770314,NaN,0.0,...,0.0,NaN,NaN,0.0007246576085704325,0.014124505839253848,NaN,0.0617148149001496,NaN,0.004552336258968102,0.008918862874713015
2002,0.0,0.0,NaN,0.0006587905511318227,0.0,NaN,0.0002470464566744335,0.0035842323422515727,NaN,0.0,...,0.0,0.0,NaN,0.00033968887792734605,0.009941561160673662,NaN,0.03418917088326931,NaN,0.0004117440944573892,0.00494092913348867
2003,0.0,0.0,NaN,0.0013550814878252704,0.0,NaN,0.00047427852073884464,0.0068811037951767235,NaN,0.0,...,0.0,0.0,NaN,0.0007452948183038988,0.017168204910002264,NaN,0.057590963232574,NaN,0.001693851859781588,0.008130488926951623
2004,0.0,0.0,NaN,0.0011806814539147559,0.0,NaN,0.0005903407269573779,0.005995500422979131,0.0,0.0,...,0.0,0.0,0.0,0.0007379259086967224,0.016290452360388844,NaN,0.050178961791377125,NaN,0.0023613629078295117,0.005903407269573779
2005,5.6893339212311715e-05,0.0,NaN,0.0009482223202051953,0.0,NaN,0.00047411116010259767,0.004815072942001982,0.0,0.0,...,0.0,0.00032239558886976643,0.0004229071548115171,0.0005452278341179873,0.014718306854225042,NaN,0.0402994486087208,NaN,0.0033187781207181834,0.0047411116010259765
2006,8.582592071544487e-05,0.0,NaN,0.0007152160059620406,0.0,0.0,0.0004291296035772243,0.0015563100289734005,0.0,0.0,...,0.0,0.00035653517897207723,0.0004470100037262754,0.0004470100037262754,0.012878537011355483,NaN,0.03576080029810203,NaN,0.003933688032791223,0.003576080029810203
2007,0.0001412284758975952,0.0,NaN,0.0006472971811973114,0.0,0.0,0.00044133898717998505,0.0020595819401732635,0.0,0.0,...,0.0,0.00025009209273532483,0.0003677824893166542,0.0003310042403849888,0.010795740078405341,NaN,0.03824937888893204,NaN,0.00441338987179985,0.0029422599145332335
2008,0.00015428547183711567,0.0,NaN,0.0008035701658183109,0.0,0.0,0.00048214209949098654,0.0,0.0,0.0,...,0.0,9.64284198981973e-05,0.0001928568397963946,3.43928030970237e-05,0.011793838609682184,NaN,0.05624991160728176,NaN,0.0035357087296005677,0.0016071403316366218
2009,0.0001800450112528132,0.0,NaN,0.0008825735845726137,0.0,0.0,0.0002647720753717841,0.0,0.0,0.0,...,0.0,3.530294338290455e-05,0.0,0.0004589382639777592,0.0,NaN,0.06178015092008296,NaN,0.005648470941264728,0.0024712060368033183
2010,0.00021056717320939815,0.0,NaN,0.0008773632217058257,0.0,0.0,0.00038603981755056335,0.0,0.0010528358660469909,0.0,...,0.0,NaN,0.0,0.00021934080542645643,0.0,NaN,0.0614154255194078,NaN,0.0059660699075996144,0.003509452886823303
2011,0.000203664839114177,0.0,NaN,0.0003133305217141185,0.0002506644173712948,0.0,0.0005639949390854133,0.0,0.0003133305217141185,0.0,...,0.0,NaN,6.26661043428237e-05,6.26661043428237e-05,0.0,0.0,0.054832841299970736,NaN,0.005326618869140014,0.0031333052171411847
2012,0.00021984374282678966,0.0,NaN,0.0,0.00032329962180410244,0.0,0.0005819393192473845,0.0,0.0,1.9074677686442042e-05,...,0.0,NaN,6.465992436082049e-05,0.00029096965962369223,0.0,0.004849494327061537,0.05657743381571793,NaN,0.005496093570669741,0.0
2013,0.00021380104041694866,0.0,NaN,0.0,0.0003665160692861977,0.0,0.0006108601154769962,0.0,0.0,3.359730635123479e-05,...,0.0,NaN,6.108601154769962e-05,0.00016798653175617397,0.0,0.005039595952685219,0.05345026010423717,NaN,0.005192310981554467,0.0
2014,0.0001562979550543917,0.0,NaN,NaN,0.0003694315301285622,0.0,0.0005967740102076774,0.0,NaN,3.125959101087834e-05,...,0.0,NaN,8.525343002966818e-05,0.00028417810009889397,0.0,0.005257294851829538,0.04973116751730645,NaN,0.004831027701681197,0.0
2015,0.00020750221452532327,0.0,NaN,NaN,0.0004206125970107904,0.0,0.0006729801552172646,0.0,NaN,3.0844923780791294e-05,...,0.0,NaN,0.00016824503880431615,0.0,0.0,0.005748372159147469,0.04907146965125888,NaN,0.004766942766122291,0.0
2016,0.00018967896834607426,NaN,NaN,NaN,0.0,0.0,0.0005989862158297081,0.010232681187090848,NaN,2.745353489219496e-05,...,0.0,NaN,0.0002495775899290451,0.0002370987104325928,0.0,0.005740284568368037,0.043676078237582884,NaN,0.004242819028793766,0.0
2017,0.00018023867760268695,NaN,NaN,NaN,NaN,0.0,0.0005776880692393812,0.00092430091078301,NaN,2.5418275046532773e-05,...,0.0,NaN,0.00030039779600447825,0.00011553761384787625,0.0,0.005892418306241688,0.0462150455391505,0.0,0.004159354098523545,0.0
2018,0.00013202555420614435,NaN,NaN,NaN,NaN,0.0,0.0004125798568942011,0.0006931341595822579,NaN,6.139188270585712e-05,...,0.0,NaN,0.0002310447198607526,0.00013202555420614435,0.00016503194275768043,0.004620894397215052,0.036307027406689694,0.0,0.0031356069123959283,0.0
2019,0.00015805613086889583,NaN,NaN,NaN,NaN,0.0,0.0004939254089652994,0.0005334394416825234,NaN,0.0,...,0.0,NaN,0.00010866358997236588,0.00013829911451028384,0.00019757016358611977,0.00869308719778927,0.04346543598894635,0.0,0.0039514032717223955,0.0
2020,0.00021722708539359648,NaN,0.0,NaN,NaN,0.0,0.000678834641854989,0.0003665707066016941,NaN,0.0,...,0.0,NaN,5.430677134839912e-05,0.0003394173209274945,0.00027153385674199556,0.011947489696647806,0.059737448483239024,0.0,0.005430677134839912,0.0
2021,0.00020322891084917716,NaN,0.0,NaN,NaN,0.0,0.0006196003379548084,0.0004956802703638467,NaN,0.00024784013518192337,...,0.0,NaN,0.0002874945568110311,0.00044611224332746205,0.00024784013518192337,0.009294005069322125,0.054524829740023144,0.0,0.005452482974002314,0.0
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.006496178081895152,NaN,0.010826963469825254,NaN,NaN,NaN,NaN,NaN

# Joining the weights of the 23*280 dataframes

In [ ]:
matrix_bv = final_bookvalue.to_numpy(dtype=float)
matrix_gd = final_grossdiv.to_numpy(dtype=float)
matrix_te = final_totemp.to_numpy(dtype=float)
matrix_tr = final_totrev.to_numpy(dtype=float)

In [ ]:
matrix = (matrix_bv + matrix_gd + matrix_te + matrix_tr)/4
matrix

array([[3.82890650e-02, 3.97288259e-04,            nan, ...,
                   nan, 3.41512642e-02,            nan],
       [3.73393721e-02, 2.10904910e-04,            nan, ...,
                   nan, 3.35216079e-02,            nan],
       [3.14464019e-02, 2.64683704e-04,            nan, ...,
                   nan, 3.26329902e-02,            nan],
       ...,
       [2.05055315e-02,            nan, 6.43666293e-06, ...,
        6.98669948e-04, 2.48631904e-02,            nan],
       [2.09098504e-02,            nan,            nan, ...,
        7.66970912e-04,            nan,            nan],
       [           nan,            nan,            nan, ...,
                   nan,            nan,            nan]])

In [ ]:
cols1.rename('Date')

Date
ABB LTD                             ABB LTD
ACCU HOLDING AG             ACCU HOLDING AG
ACHIKO AG                         ACHIKO AG
ACINO INTERNAT               ACINO INTERNAT
ACTELION AG                     ACTELION AG
                                ...
ZUG ESTATES                     ZUG ESTATES
ZUGER KANTONALBANK       ZUGER KANTONALBANK
ZUR ROSE GROUP AG         ZUR ROSE GROUP AG
ZURICH INSURANCE           ZURICH INSURANCE
ZWAHLEN & MAYR S.A.     ZWAHLEN & MAYR S.A.
Name: Date, Length: 280, dtype: object

In [ ]:
df_final = pd.DataFrame(data = matrix, 
                  index = final_bookvalue.index, 
                  columns = cols1)

In [ ]:
df_final

new,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,AEVIS VICTORIA,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
2000,0.038289,0.000397,NaN,0.000852,0.000057,NaN,0.014551,0.002416,NaN,0.000036,...,0.002517,NaN,NaN,0.000714,NaN,NaN,0.017792,NaN,0.034151,NaN
2001,0.037339,0.000211,NaN,NaN,0.000088,NaN,0.013137,0.002144,NaN,0.000024,...,0.003049,NaN,NaN,0.000715,0.004673,NaN,0.017501,NaN,0.033522,NaN
2002,0.031446,0.000265,NaN,NaN,0.000132,NaN,0.012850,0.001906,NaN,0.000021,...,0.003275,0.000142,NaN,0.000703,0.005269,NaN,0.013315,NaN,0.032633,NaN
2003,0.027553,0.000214,NaN,0.000747,0.000215,NaN,0.012862,0.002698,NaN,0.000021,...,0.003635,0.000150,NaN,0.000853,0.007235,NaN,0.019188,NaN,0.033347,NaN
2004,0.025350,0.000101,NaN,0.000510,0.000293,NaN,0.013595,0.001996,0.000144,0.000020,...,0.004088,0.000141,0.000204,0.000813,0.004947,NaN,0.014069,NaN,0.033019,NaN
2005,0.023916,0.000091,NaN,0.000495,0.000345,NaN,0.013357,0.001783,0.000191,0.000017,...,0.005157,0.000231,0.000356,0.000728,0.004811,NaN,0.012271,NaN,0.031792,0.001938
2006,0.023091,0.000064,NaN,0.000336,0.000414,NaN,0.012937,0.000839,0.000197,0.000095,...,0.006410,0.000229,0.000385,0.000730,0.003991,NaN,0.010471,NaN,0.028288,0.001427
2007,0.023334,0.000049,NaN,0.000324,NaN,2.969612e-05,0.012949,0.000976,0.000195,0.000118,...,0.007034,0.000350,0.000348,0.000693,0.003397,NaN,0.010954,NaN,0.022001,0.001217
2008,0.026543,0.000057,NaN,0.000422,0.000663,4.655872e-05,0.013312,0.000825,0.000218,0.000110,...,0.009432,0.000358,0.000328,0.000629,0.003833,NaN,0.015883,NaN,0.018331,0.000997
2009,0.025931,0.000026,NaN,0.000445,0.000837,3.184848e-05,0.010506,0.000630,0.000232,0.000119,...,0.009686,0.000279,0.000276,0.000716,0.000459,NaN,0.016985,NaN,0.027596,0.001096
2010,0.025155,0.000064,NaN,0.000773,0.000962,6.006514e-05,0.012024,0.000931,0.000532,0.000167,...,0.010343,NaN,0.000423,0.000735,0.001999,NaN,0.023258,NaN,0.027339,0.003263
2011,0.026986,NaN,NaN,0.000345,0.000963,1.771013e-05,0.012168,0.000536,0.000319,0.000161,...,0.011605,NaN,0.000288,0.000632,0.000637,NaN,0.016632,NaN,0.023708,0.001680
2012,0.029127,0.000044,NaN,0.000327,0.000930,9.322347e-06,0.011735,0.000452,0.000252,0.000277,...,0.013228,NaN,0.000241,0.000681,0.000489,NaN,0.016675,NaN,0.025440,0.000745
2013,0.029630,NaN,NaN,NaN,0.000929,7.856492e-07,0.011171,0.000329,0.000213,0.000356,...,0.012731,NaN,0.000226,0.000645,0.000140,0.001869,0.014329,NaN,0.028202,NaN
2014,0.028113,NaN,NaN,NaN,NaN,8.959364e-07,0.010898,0.000294,NaN,0.000462,...,0.011251,NaN,0.000225,0.000658,0.000073,0.001710,0.013060,NaN,0.026986,NaN
2015,0.027204,NaN,NaN,NaN,NaN,1.123664e-06,0.011562,0.000276,NaN,0.000480,...,0.007722,NaN,0.000268,0.000555,0.000019,0.002004,0.013090,NaN,0.026652,NaN
2016,0.025774,NaN,NaN,NaN,NaN,9.544797e-07,0.011459,0.002835,NaN,0.000501,...,0.005273,NaN,0.000301,0.000628,0.000014,0.001884,0.011564,NaN,0.027185,NaN
2017,0.024839,NaN,NaN,NaN,NaN,1.068380e-06,0.011477,0.000474,NaN,0.000500,...,0.004931,NaN,0.000339,0.000598,0.000010,0.001779,0.012012,0.000411,0.024673,NaN
2018,0.025051,NaN,NaN,NaN,NaN,4.277694e-06,0.012395,0.000411,NaN,0.000518,...,0.004781,NaN,0.000371,0.000639,0.000052,0.001515,0.009592,0.000530,0.020898,NaN
2019,0.024376,NaN,NaN,NaN,NaN,3.118786e-06,0.011047,0.000342,NaN,0.000628,...,0.004210,NaN,0.000340,0.000629,0.000058,0.002473,0.011273,0.000569,0.026440,NaN
2020,0.020506,NaN,0.000006,NaN,NaN,4.031311e-06,0.010324,0.000274,NaN,0.000631,...,0.003245,NaN,0.000346,0.000702,0.000073,0.003103,0.015129,0.000699,0.024863,NaN
2021,0.020910,NaN,NaN,NaN,NaN,4.476230e-06,0.010828,0.000321,NaN,0.000819,...,0.003206,NaN,0.000420,0.000790,0.000067,0.002419,NaN,0.000767,NaN,NaN
2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.016572,NaN,0.012122,NaN,NaN,NaN,NaN,NaN

In [ ]:
#from google.colab import files
#df_final.to_csv('df_final.csv')

In [ ]:
#files.download("df_final.csv")