# Packages, libraries and dataset loading

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

Loading the dataset

In [ ]:
# loading Returns
url1 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/returns_clean2.csv'
df_returns = pd.read_csv(url1, on_bad_lines='skip', sep=';',decimal=',')

# loading Weights
url2 = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/weights_clean2.csv'
df_weights = pd.read_csv(url2, on_bad_lines='skip', sep=';',decimal=',')

#import spi index
url3 = 'https://raw.githubusercontent.com/mi0909/qarm/main/.SPIX.csv'
df_spi = pd.read_csv(url3, on_bad_lines='skip', sep=';',decimal=',')

In [ ]:
df_spi

     Unnamed: 0  SPI-Total Index Return  Unnamed: 2
0    01.06.2001                 5206.79         NaN
1    01.07.2001                 5048.65         NaN
2    01.08.2001                 4775.11         NaN
3    01.09.2001                 4458.20         NaN
4    01.10.2001                 4032.03         NaN
..          ...                     ...         ...
248  01.02.2022                15654.34         NaN
249  01.03.2022                15019.41         NaN
250  01.04.2022                15569.35         NaN
251  01.05.2022                15406.15         NaN
252  01.06.2022                14760.07         NaN

[253 rows x 3 columns]

In [ ]:
df_returns

,Unnamed: 0,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
0,1/1/00,3304.08,204.75,NaN,249.60,NaN,NaN,567.14,96.13,NaN,...,NaN,NaN,NaN,320.28,1.46,NaN,203.02,NaN,4607.43,183.40
1,2/1/00,3087.76,198.05,NaN,271.44,NaN,NaN,589.09,109.07,NaN,...,NaN,NaN,NaN,361.04,1.59,NaN,202.08,NaN,3907.18,205.41
2,3/1/00,3049.59,201.02,NaN,312.00,NaN,NaN,612.88,112.43,NaN,...,NaN,NaN,NaN,363.95,1.34,NaN,198.32,NaN,3633.17,179.73
3,4/1/00,3348.89,186.88,NaN,296.40,NaN,NaN,539.70,103.08,NaN,...,NaN,NaN,NaN,371.23,1.26,NaN,203.02,NaN,4338.49,221.91
4,5/1/00,3301.48,186.88,NaN,273.00,160.00,NaN,647.18,95.89,NaN,...,NaN,NaN,NaN,356.67,1.20,NaN,207.72,NaN,3719.44,194.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,7/1/22,3706.92,0.11,18.43,577.10,2427.12,0.29,277.33,70.35,33.83,...,87.55,204.77,202.63,1479.78,0.08,179.87,1506.87,47.37,7761.36,89.59
271,8/1/22,4223.68,0.11,18.43,577.10,2427.12,0.30,283.61,70.35,33.83,...,94.90,204.77,203.81,1599.84,0.07,188.91,1485.95,42.46,7668.94,89.59
272,9/1/22,3887.49,0.11,21.04,577.10,2427.12,0.25,253.41,67.86,33.83,...,111.55,204.77,211.67,1451.08,0.07,182.58,1469.20,25.54,7818.66,80.16
273,10/1/22,3704.00,0.11,22.52,577.10,2427.12,0.20,234.83,71.35,33.83,...,137.63,204.77,218.93,1372.78,0.07,150.95,1481.76,18.34,7382.44,77.80
274,11/1/22,4257.69,0.11,16.17,577.10,2427.12,0.21,262.74,78.34,33.83,...,169.51,204.77,242.22,1372.78,0.08,143.71,1502.69,17.56,7859.33,77.80

In [ ]:
df_weights

,Unnamed: 0,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
0,2000,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
1,2001,0.037339372082572,0.0002109049096110172,NaN,NaN,8.821744869217006e-05,NaN,0.01313700060503921,0.00214440440908753,NaN,...,0.0030488975997782176,NaN,NaN,0.0007154474901420722,0.0046734645260178625,NaN,0.017501296053651874,NaN,0.033521607855130295,NaN
2,2002,0.031446401928969525,0.0002646837041421352,NaN,NaN,0.00013235415975157896,NaN,0.012850138707558443,0.001906010774601531,NaN,...,0.0032749253818396802,0.00014240948855760835,NaN,0.0007031852555850638,0.005269320118780333,NaN,0.013315052976800738,NaN,0.03263299024120079,NaN
3,2003,0.027552649712915198,0.0002137517573153935,NaN,0.0007470957351147009,0.00021476870427689353,NaN,0.012861726310107801,0.002698495801791248,NaN,...,0.0036353619130698794,0.00015031853875753338,NaN,0.000853289935773947,0.007235294984548034,NaN,0.019188216279606755,NaN,0.0333473632887839,NaN
4,2004,0.025350331390263256,0.00010104610751413676,NaN,0.000510249792039751,0.00029302974663282695,NaN,0.013595138776426569,0.001995876976735032,0.00014447028701364544,...,0.004088419695179322,0.00014072211093429034,0.00020428295820278916,0.0008131601185314646,0.004947402924886382,NaN,0.014068973355474131,NaN,0.033019030885048095,NaN
5,2005,0.0239159435235929,9.139586700704727e-05,NaN,0.0004948590350405215,0.0003453956417960509,NaN,0.013356663703731262,0.0017825716613408976,0.00019109751762375217,...,0.005157386534323317,0.00023136994479853236,0.0003556575793669578,0.0007280250857120863,0.004810598341868665,NaN,0.01227076484231673,NaN,0.03179185624413369,0.0019377785363181876
6,2006,0.02309141491176674,6.374658480609562e-05,NaN,0.000336092915989072,0.00041373761101143704,NaN,0.012937431440248594,0.0008392793310872567,0.00019726802951200857,...,0.006409910584100221,0.0002291176958696303,0.0003850975166539057,0.0007299326715822583,0.003991462949163492,NaN,0.010471486182556283,NaN,0.02828801968863474,0.001426840855315674
7,2007,0.02333449607839988,4.872919711491828e-05,NaN,0.00032397355217840887,NaN,2.9696116385277783e-05,0.012948951254469572,0.0009755702839970224,0.00019517465597664957,...,0.0070335113376286465,0.0003496636582137492,0.0003484162751957384,0.0006933960413445233,0.003396585850773245,NaN,0.010953790052351862,NaN,0.022001154011865344,0.0012171801448995823
8,2008,0.026543163472576306,5.673268873649262e-05,NaN,0.000421644415016994,0.0006625918639238625,4.655872309428999e-05,0.013311706043288435,0.000825193957520391,0.00021796409099146216,...,0.00943150868927138,0.00035811324103417533,0.00032842217769034994,0.0006287318825957328,0.003833212347884225,NaN,0.01588264437323022,NaN,0.01833099420286408,0.0009967814286045145
9,2009,0.025931264049476148,2.569585919571248e-05,NaN,0.00044537523681545345,0.0008365428864156061,3.1848481657434285e-05,0.010505748287108159,0.0006297668331766015,0.00023166086077481136,...,0.009686349577849435,0.00027905847179925423,0.0002763984423860326,0.0007164626985753193,0.0004594162642689218,NaN,0.016985334613241317,NaN,0.027596220559458005,0.0010955467515809056
10,2010,0.02515535442819141,6.417397428626874e-05,NaN,0.0007731022030601141,0.0009623554215912897,6.006514114594951e-05,0.012024154438246587,0.0009313572342502538,0.0005318565513035013,...,0.010342836559629604,NaN,0.0004230982121133409,0.0007350458948935502,0.0019990544512398017,NaN,0.02325786700666745,NaN,0.02733892317986883,0.003262748330907746
11,2011,0.02698604002354653,NaN,NaN,0.00034514978573411324,0.0009630364282896117,1.7710132460455458e-05,0.012167595967424519,0.000535900256110437,0.0003190963620083553,...,0.011604861286204231,NaN,0.0002883098961569554,0.0006322731206076993,0.0006374039227390711,NaN,0.01663216437909004,NaN,0.023708430563252038,0.0016797280015010611
12,2012,0.029127003418252986,4.44661679746481e-05,NaN,0.0003272435277685969,0.0009302826836868,9.322346582795462e-06,0.011734678077062575,0.0004524242948070778,0.00025174043566134334,...,0.013227983801371093,NaN,0.0002406152353178953,0.0006813957275902493,0.0004886198394758698,NaN,0.016674841450638786,NaN,0.025439580707864562,0.0007446104697848708
13,2013,0.029630318223472923,NaN,NaN,NaN,0.0009291304004684748,7.85649171796114e-07,0.011170880232229747,0.00032903269255736583,0.0002132770248707306,...,0.012731462959269513,NaN,0.00022601569270632927,0.0006450538834273838,0.0001397343482458828,0.0018686019752505766,0.014328958756579786,NaN,0.028202113128602043,NaN
14,2014,0.028113408051394517,NaN,NaN,NaN,NaN,8.959363890852089e-07,0.010898495569569538,0.00029396650552996495,NaN,...,0.011250558260414323,NaN,0.0002245036989423193,0.0006584371927857112,7.323624710165831e-05,0.0017095070882434521,0.013060385505791484,NaN,0.026985567907921833,NaN
15,2015,0.027203987851432326,NaN,NaN,NaN,NaN,1.1236641715617246e-06,0.011562329400370979,0.000276382740048465,NaN,...,0.007722394118434924,NaN,0.0002679850478043323,0.0005547944099962903,1.877318786781969e-05,0.002004470129412426,0.013090079287643434,NaN,0.02665233366085238,NaN
16,2016,0.025773769518009193,NaN,NaN,NaN,NaN,9.544796796956186e-07,0.011458940122012921,0.0028353863323382538,NaN,...,0.0052725058121882405,NaN,0.00030090728205733934,0.0006284787422696626,1.4189114165547386e-05,0.0018842021851534882,0.01156386944089532,NaN,0.027184956564824492,NaN
17,2017,0.024839103300359447,NaN,NaN,NaN,NaN,1.0683802970820398e-06,0.011476866949065925,0.00047427160566669823,NaN,...,0.0049307371448461005,NaN,0.0003386499059781999,0.0005984494875153441,9.812294957359498e-06,0.0017788172087433599,0.01201197847898354,0.0004110050845787398,0.024673455589626563,NaN
18,2018,0.025051124875876955,NaN,NaN,NaN,NaN,4.277693892492727e-06,0.012394724673609182,0.00041143127741643333,NaN,...,0.0047809584120070605,NaN,0.000371202213496045,0.0006393644482202106,5.202357767613426e-05,0.0015147363038339903,0.00959234842680588,0.0005296377227444482,0.020897727899855497,NaN
19,2019,0.02437564787538391,NaN,NaN,NaN,NaN,3.1187861739351297e-06,0.011047498848186935,0.0003423628800312285,NaN,...,0.004209983434564552,NaN,0.0003404533843161972,0.0006292469101318967,5.809428096157048e-05,0.002472935599650386,0.011272533094290793,0.000568513997295685,0.026439924318981112,NaN
20,2020,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
21,2021,0.02090985044197255,NaN,NaN,NaN,NaN,4.476229805182008e-06,0.010828410147180586,0.0003210720615970845,NaN,...,0.003205574407172038,NaN,0.00042033515152065456,0.000789969158265969,6.656385603630184e-05,0.00241870462809491,NaN,0.0007669709116738259,NaN,NaN
22,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.01657217285698524,NaN,0.012121939901653774,NaN,NaN,NaN,NaN,NaN

# EDA and data cleaning 2

Data cleaning

In [ ]:
#renaming the first column as date
df_weights.rename(columns = {'Unnamed: 0':'Date'}, inplace = True)
df_weights.head(10)

df_returns.rename(columns = {'Unnamed: 0':'Date'}, inplace = True)
df_returns.head(10)


df_spi.rename(columns = {'Unnamed: 0':'Date'}, inplace = True)
df_spi.head(10)

         Date  SPI-Total Index Return  Unnamed: 2
0  01.06.2001                 5206.79         NaN
1  01.07.2001                 5048.65         NaN
2  01.08.2001                 4775.11         NaN
3  01.09.2001                 4458.20         NaN
4  01.10.2001                 4032.03         NaN
5  01.11.2001                 4149.82         NaN
6  01.12.2001                 4259.32         NaN
7  01.01.2002                 4382.94         NaN
8  01.02.2002                 4261.93         NaN
9  01.03.2002                 4332.68         NaN

In [ ]:
#setting date as index - only run once!

df_weights = df_weights.set_index('Date')
df_weights

df_returns = df_returns.set_index('Date')
df_returns


df_spi = df_spi.set_index('Date')
df_spi

            SPI-Total Index Return  Unnamed: 2
Date
01.06.2001                 5206.79         NaN
01.07.2001                 5048.65         NaN
01.08.2001                 4775.11         NaN
01.09.2001                 4458.20         NaN
01.10.2001                 4032.03         NaN
...                            ...         ...
01.02.2022                15654.34         NaN
01.03.2022                15019.41         NaN
01.04.2022                15569.35         NaN
01.05.2022                15406.15         NaN
01.06.2022                14760.07         NaN

[253 rows x 2 columns]

In [ ]:
#calculate returns #ONLY ONCE
df_returns = df_returns.pct_change()
df_returns.head(20)

,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,AEVIS VICTORIA,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
Date,,,,,,,,,,,,,,,,,,,,,
1/1/00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2/1/00,-0.065471,-0.032723,NaN,0.087500,NaN,NaN,0.038703,0.134609,NaN,0.180323,...,NaN,NaN,NaN,0.127264,0.089041,NaN,-0.004630,NaN,-0.151983,0.120011
3/1/00,-0.012362,0.014996,NaN,0.149425,NaN,NaN,0.040384,0.030806,NaN,-0.027774,...,NaN,NaN,NaN,0.008060,-0.157233,NaN,-0.018606,NaN,-0.070130,-0.125018
4/1/00,0.098144,-0.070341,NaN,-0.050000,NaN,NaN,-0.119403,-0.083163,NaN,-0.057135,...,NaN,NaN,NaN,0.020003,-0.059701,NaN,0.023699,NaN,0.194133,0.234685
5/1/00,-0.014157,0.000000,NaN,-0.078947,NaN,NaN,0.199148,-0.069752,NaN,-0.037882,...,NaN,NaN,NaN,-0.039221,-0.047619,NaN,0.023150,NaN,-0.142688,-0.122302
6/1/00,0.093994,0.000000,NaN,0.145495,0.153875,NaN,-0.053138,0.000000,NaN,-0.102357,...,NaN,NaN,NaN,0.080635,-0.025000,NaN,-0.013913,NaN,0.155728,0.148791
7/1/00,-0.077565,0.095623,NaN,-0.037957,0.187466,NaN,0.043539,0.024924,NaN,-0.140371,...,NaN,NaN,NaN,-0.020497,0.000000,NaN,-0.019040,NaN,-0.009638,-0.034816
8/1/00,0.029754,0.000000,NaN,0.010504,0.277197,NaN,-0.018703,0.037546,NaN,-0.061194,...,NaN,NaN,NaN,0.000000,0.034188,NaN,0.016971,NaN,0.094890,0.172439
9/1/00,-0.020100,0.000000,NaN,0.093747,0.098893,NaN,-0.017593,0.036089,NaN,0.304352,...,NaN,NaN,NaN,-0.010887,0.033058,NaN,0.002398,NaN,-0.017779,-0.022077
10/1/00,-0.117948,0.090891,NaN,0.076208,-0.031233,NaN,-0.144030,0.307052,NaN,-0.050011,...,NaN,NaN,NaN,0.031011,0.000000,NaN,-0.047600,NaN,-0.091629,-0.178951
11/1/00,-0.055232,-0.146669,NaN,0.006623,0.005166,NaN,0.050561,0.067565,NaN,0.017561,...,NaN,NaN,NaN,0.000000,-0.040000,NaN,0.009996,NaN,0.097138,0.208805
12/1/00,-0.013846,0.074239,NaN,0.010993,-0.025699,NaN,-0.102911,-0.074956,NaN,-0.008629,...,NaN,NaN,NaN,-0.015532,-0.016667,NaN,0.014820,NaN,0.051078,0.000000
1/1/01,0.078003,0.000000,NaN,-0.002169,-0.030282,NaN,-0.056424,0.043191,NaN,-0.043482,...,NaN,NaN,NaN,0.020711,-0.042373,NaN,0.000000,NaN,0.055075,0.030315
2/1/01,-0.072358,-0.038193,NaN,0.045764,-0.082874,NaN,0.083346,0.010403,NaN,-0.090917,...,NaN,NaN,NaN,0.077313,0.008850,NaN,0.073168,NaN,-0.036848,-0.117654
3/1/01,-0.154445,0.039710,NaN,-0.004184,-0.111124,NaN,-0.047073,-0.094059,NaN,0.119984,...,NaN,NaN,NaN,0.022410,-0.008772,NaN,0.036397,NaN,-0.167907,-0.008326
4/1/01,-0.198319,-0.054554,NaN,-0.079486,-0.165013,NaN,-0.159548,-0.056597,NaN,-0.028560,...,NaN,NaN,NaN,-0.123674,0.000000,NaN,-0.065785,NaN,-0.289909,0.000000
5/1/01,0.179243,-0.019217,NaN,0.022707,-0.572837,NaN,0.186447,-0.010012,NaN,-0.080880,...,NaN,NaN,NaN,-0.009025,-0.017699,NaN,0.026569,NaN,0.109710,0.126066
6/1/01,0.027200,0.166649,NaN,-0.022203,0.158790,NaN,-0.069599,0.010113,NaN,0.029985,...,NaN,NaN,NaN,0.111120,0.000000,NaN,0.014300,NaN,-0.008190,-0.029862
7/1/01,-0.147974,-0.075621,NaN,0.020439,-0.084609,NaN,-0.099370,0.043386,NaN,-0.058223,...,NaN,NaN,NaN,-0.038962,0.036036,NaN,0.009384,NaN,0.041946,0.012478
8/1/01,-0.287020,-0.027302,NaN,0.024025,-0.119001,NaN,-0.025027,-0.086441,NaN,-0.011351,...,NaN,NaN,NaN,-0.034316,0.052174,NaN,0.013968,NaN,-0.083736,0.023261

In [ ]:
#eliminate first 6 months
df_returns_calc = df_returns.iloc[18:]
df_returns_calc

,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,AEVIS VICTORIA,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
Date,,,,,,,,,,,,,,,,,,,,,
7/1/01,-0.147974,-0.075621,NaN,0.020439,-0.084609,NaN,-0.099370,0.043386,NaN,-0.058223,...,NaN,NaN,NaN,-0.038962,0.036036,NaN,0.009384,NaN,0.041946,0.012478
8/1/01,-0.287020,-0.027302,NaN,0.024025,-0.119001,NaN,-0.025027,-0.086441,NaN,-0.011351,...,NaN,NaN,NaN,-0.034316,0.052174,NaN,0.013968,NaN,-0.083736,0.023261
9/1/01,-0.161538,0.011247,NaN,-0.020741,-0.039002,NaN,-0.066516,-0.139795,NaN,-0.082365,...,NaN,NaN,NaN,-0.103567,0.016529,NaN,-0.027551,NaN,-0.173989,-0.090887
10/1/01,-0.327220,-0.020357,NaN,-0.102199,-0.074946,NaN,-0.300008,-0.274993,NaN,-0.227289,...,NaN,NaN,NaN,-0.121174,-0.081301,NaN,-0.066509,NaN,-0.291488,0.000000
11/1/01,0.290917,0.000000,NaN,-0.051276,0.293653,NaN,0.303564,0.051760,NaN,-0.044095,...,NaN,NaN,NaN,0.069590,0.053097,NaN,0.061147,NaN,0.124622,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7/1/22,-0.146093,0.000000,-0.580278,0.000000,0.000000,-0.670455,-0.114103,-0.020877,0.0,-0.036440,...,-0.372806,0.0,-0.016073,-0.185350,0.000000,-0.009963,0.005586,-0.321249,-0.037369,-0.020660
8/1/22,0.139404,0.000000,0.000000,0.000000,0.000000,0.034483,0.022645,0.000000,0.0,0.039088,...,0.083952,0.0,0.005823,0.081134,-0.125000,0.050259,-0.013883,-0.103652,-0.011908,0.000000
9/1/22,-0.079596,0.000000,0.141617,0.000000,0.000000,-0.166667,-0.106484,-0.035394,0.0,0.053774,...,0.175448,0.0,0.038565,-0.092984,0.000000,-0.033508,-0.011272,-0.398493,0.019523,-0.105257
10/1/22,-0.047200,0.000000,0.070342,0.000000,0.000000,-0.200000,-0.073320,0.051429,0.0,-0.071442,...,0.233797,0.0,0.034299,-0.053960,0.000000,-0.173239,0.008549,-0.281911,-0.055792,-0.029441
11/1/22,0.149484,0.000000,-0.281972,0.000000,0.000000,0.050000,0.118852,0.097968,0.0,-0.032949,...,0.231636,0.0,0.106381,0.000000,0.142857,-0.047963,0.014125,-0.042530,0.064598,0.000000

In [ ]:
#eliminate last 5 rows #ignore the error
df_returns_calc.drop(df_returns_calc.tail(5).index,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
#visualize
df_returns_calc

,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,AEVIS VICTORIA,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
Date,,,,,,,,,,,,,,,,,,,,,
7/1/01,-0.147974,-0.075621,NaN,0.020439,-0.084609,NaN,-0.099370,0.043386,NaN,-0.058223,...,NaN,NaN,NaN,-0.038962,0.036036,NaN,0.009384,NaN,0.041946,0.012478
8/1/01,-0.287020,-0.027302,NaN,0.024025,-0.119001,NaN,-0.025027,-0.086441,NaN,-0.011351,...,NaN,NaN,NaN,-0.034316,0.052174,NaN,0.013968,NaN,-0.083736,0.023261
9/1/01,-0.161538,0.011247,NaN,-0.020741,-0.039002,NaN,-0.066516,-0.139795,NaN,-0.082365,...,NaN,NaN,NaN,-0.103567,0.016529,NaN,-0.027551,NaN,-0.173989,-0.090887
10/1/01,-0.327220,-0.020357,NaN,-0.102199,-0.074946,NaN,-0.300008,-0.274993,NaN,-0.227289,...,NaN,NaN,NaN,-0.121174,-0.081301,NaN,-0.066509,NaN,-0.291488,0.000000
11/1/01,0.290917,0.000000,NaN,-0.051276,0.293653,NaN,0.303564,0.051760,NaN,-0.044095,...,NaN,NaN,NaN,0.069590,0.053097,NaN,0.061147,NaN,0.124622,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2/1/22,-0.089002,0.000000,-0.199973,0.000000,0.000000,-0.102041,-0.032342,0.024705,0.0,-0.033115,...,0.094513,0.0,-0.068422,-0.088139,0.000000,-0.014985,0.032166,-0.123181,0.082144,-0.103836
3/1/22,-0.048227,0.000000,-0.441231,0.000000,0.000000,-0.045455,-0.094720,0.000000,0.0,0.054798,...,-0.114467,0.0,-0.111841,-0.064440,-0.125000,0.000000,-0.022665,-0.287596,-0.068182,0.195138
4/1/22,0.016293,0.000000,0.368644,0.000000,0.000000,-0.079365,0.003415,-0.066332,0.0,0.181830,...,0.224335,0.0,0.026706,0.006377,0.142857,0.035516,0.052174,-0.100257,0.124391,-0.035707
5/1/22,-0.050843,0.000000,0.283503,0.000000,0.000000,-0.043103,-0.040106,-0.090313,0.0,-0.032969,...,-0.070385,0.0,-0.151171,0.017671,0.000000,-0.004087,0.027546,-0.057971,0.008395,0.026481
6/1/22,0.028523,0.000000,-0.243453,0.000000,0.000000,-0.207207,-0.009116,0.035303,0.0,0.116265,...,0.069737,0.0,-0.001455,-0.112242,0.000000,0.007542,-0.011289,-0.119924,-0.015127,0.000000

Returns should be fine let's now see the weights

In [ ]:
df_weights.head(10)

,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,AEVIS VICTORIA,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
Date,,,,,,,,,,,,,,,,,,,,,
2000,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
2001,0.037339372082572,0.0002109049096110172,NaN,NaN,8.821744869217006e-05,NaN,0.01313700060503921,0.00214440440908753,NaN,2.3833680025986002e-05,...,0.0030488975997782176,NaN,NaN,0.0007154474901420722,0.0046734645260178625,NaN,0.017501296053651874,NaN,0.033521607855130295,NaN
2002,0.031446401928969525,0.0002646837041421352,NaN,NaN,0.00013235415975157896,NaN,0.012850138707558443,0.001906010774601531,NaN,2.1206539045114528e-05,...,0.0032749253818396802,0.00014240948855760835,NaN,0.0007031852555850638,0.005269320118780333,NaN,0.013315052976800738,NaN,0.03263299024120079,NaN
2003,0.027552649712915198,0.0002137517573153935,NaN,0.0007470957351147009,0.00021476870427689353,NaN,0.012861726310107801,0.002698495801791248,NaN,2.1021199835235532e-05,...,0.0036353619130698794,0.00015031853875753338,NaN,0.000853289935773947,0.007235294984548034,NaN,0.019188216279606755,NaN,0.0333473632887839,NaN
2004,0.025350331390263256,0.00010104610751413676,NaN,0.000510249792039751,0.00029302974663282695,NaN,0.013595138776426569,0.001995876976735032,0.00014447028701364544,2.0454139502245965e-05,...,0.004088419695179322,0.00014072211093429034,0.00020428295820278916,0.0008131601185314646,0.004947402924886382,NaN,0.014068973355474131,NaN,0.033019030885048095,NaN
2005,0.0239159435235929,9.139586700704727e-05,NaN,0.0004948590350405215,0.0003453956417960509,NaN,0.013356663703731262,0.0017825716613408976,0.00019109751762375217,1.6802150190840602e-05,...,0.005157386534323317,0.00023136994479853236,0.0003556575793669578,0.0007280250857120863,0.004810598341868665,NaN,0.01227076484231673,NaN,0.03179185624413369,0.0019377785363181876
2006,0.02309141491176674,6.374658480609562e-05,NaN,0.000336092915989072,0.00041373761101143704,NaN,0.012937431440248594,0.0008392793310872567,0.00019726802951200857,9.519734778425603e-05,...,0.006409910584100221,0.0002291176958696303,0.0003850975166539057,0.0007299326715822583,0.003991462949163492,NaN,0.010471486182556283,NaN,0.02828801968863474,0.001426840855315674
2007,0.02333449607839988,4.872919711491828e-05,NaN,0.00032397355217840887,NaN,2.9696116385277783e-05,0.012948951254469572,0.0009755702839970224,0.00019517465597664957,0.00011809416868529526,...,0.0070335113376286465,0.0003496636582137492,0.0003484162751957384,0.0006933960413445233,0.003396585850773245,NaN,0.010953790052351862,NaN,0.022001154011865344,0.0012171801448995823
2008,0.026543163472576306,5.673268873649262e-05,NaN,0.000421644415016994,0.0006625918639238625,4.655872309428999e-05,0.013311706043288435,0.000825193957520391,0.00021796409099146216,0.00010998338317025438,...,0.00943150868927138,0.00035811324103417533,0.00032842217769034994,0.0006287318825957328,0.003833212347884225,NaN,0.01588264437323022,NaN,0.01833099420286408,0.0009967814286045145
2009,0.025931264049476148,2.569585919571248e-05,NaN,0.00044537523681545345,0.0008365428864156061,3.1848481657434285e-05,0.010505748287108159,0.0006297668331766015,0.00023166086077481136,0.00011865629827927217,...,0.009686349577849435,0.00027905847179925423,0.0002763984423860326,0.0007164626985753193,0.0004594162642689218,NaN,0.016985334613241317,NaN,0.027596220559458005,0.0010955467515809056

In [ ]:
#transform weights dataframe into a numpy array duplicated 12 times
array_weights = np.repeat(df_weights.values, 12, axis=0)
print(array_weights)

[['0.03828906500486424' '0.00039728825935037975' nan ... nan
  '0.03415126417031591' nan]
 ['0.03828906500486424' '0.00039728825935037975' nan ... nan
  '0.03415126417031591' nan]
 ['0.03828906500486424' '0.00039728825935037975' nan ... nan
  '0.03415126417031591' nan]
 ...
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]
 [nan nan nan ... nan nan nan]]

In [ ]:
print(array_weights[:-24])

[['0.03828906500486424' '0.00039728825935037975' nan ... nan
  '0.03415126417031591' nan]
 ['0.03828906500486424' '0.00039728825935037975' nan ... nan
  '0.03415126417031591' nan]
 ['0.03828906500486424' '0.00039728825935037975' nan ... nan
  '0.03415126417031591' nan]
 ...
 ['0.020505531482808842' nan '6.436662925540536e-06' ...
  '0.0006986699477340079' '0.024863190448066688' nan]
 ['0.020505531482808842' nan '6.436662925540536e-06' ...
  '0.0006986699477340079' '0.024863190448066688' nan]
 ['0.020505531482808842' nan '6.436662925540536e-06' ...
  '0.0006986699477340079' '0.024863190448066688' nan]]

In [ ]:
len(array_weights[:-24])

252

In [ ]:
array_weights2 = array_weights[:-24]
array_weights2

array([['0.03828906500486424', '0.00039728825935037975', nan, ..., nan,
        '0.03415126417031591', nan],
       ['0.03828906500486424', '0.00039728825935037975', nan, ..., nan,
        '0.03415126417031591', nan],
       ['0.03828906500486424', '0.00039728825935037975', nan, ..., nan,
        '0.03415126417031591', nan],
       ...,
       ['0.020505531482808842', nan, '6.436662925540536e-06', ...,
        '0.0006986699477340079', '0.024863190448066688', nan],
       ['0.020505531482808842', nan, '6.436662925540536e-06', ...,
        '0.0006986699477340079', '0.024863190448066688', nan],
       ['0.020505531482808842', nan, '6.436662925540536e-06', ...,
        '0.0006986699477340079', '0.024863190448066688', nan]],
      dtype=object)

In [ ]:
convertedArray = array_weights2.astype(np.float)
convertedArray

<ipython-input-17-ff88b4b16a27>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  convertedArray = array_weights2.astype(np.float)

array([[3.82890650e-02, 3.97288259e-04,            nan, ...,
                   nan, 3.41512642e-02,            nan],
       [3.82890650e-02, 3.97288259e-04,            nan, ...,
                   nan, 3.41512642e-02,            nan],
       [3.82890650e-02, 3.97288259e-04,            nan, ...,
                   nan, 3.41512642e-02,            nan],
       ...,
       [2.05055315e-02,            nan, 6.43666293e-06, ...,
        6.98669948e-04, 2.48631904e-02,            nan],
       [2.05055315e-02,            nan, 6.43666293e-06, ...,
        6.98669948e-04, 2.48631904e-02,            nan],
       [2.05055315e-02,            nan, 6.43666293e-06, ...,
        6.98669948e-04, 2.48631904e-02,            nan]])

In [ ]:
len(convertedArray)

252

LEt's numpy returns too

In [ ]:
returnsarray = df_returns_calc.to_numpy()
returnsarray

array([[-0.14797378, -0.07562077,         nan, ...,         nan,
         0.04194564,  0.01247779],
       [-0.28701955, -0.02730159,         nan, ...,         nan,
        -0.08373609,  0.02326056],
       [-0.16153751,  0.01124724,         nan, ...,         nan,
        -0.17398934, -0.09088734],
       ...,
       [ 0.01629285,  0.        ,  0.36864407, ..., -0.10025652,
         0.12439112, -0.03570656],
       [-0.05084296,  0.        ,  0.28350287, ..., -0.05797101,
         0.00839457,  0.02648115],
       [ 0.02852343,  0.        , -0.24345279, ..., -0.11992434,
        -0.01512736,  0.        ]])

In [ ]:
#returns
len(returnsarray)

#weights
#convertedArray

#we need to multiply and sum by row!

252

In [ ]:
df1 = pd.DataFrame(convertedArray)
df1

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
0,0.038289,0.000397,NaN,0.000852,0.000057,NaN,0.014551,0.002416,NaN,0.000036,...,0.002517,NaN,NaN,0.000714,NaN,NaN,0.017792,NaN,0.034151,NaN
1,0.038289,0.000397,NaN,0.000852,0.000057,NaN,0.014551,0.002416,NaN,0.000036,...,0.002517,NaN,NaN,0.000714,NaN,NaN,0.017792,NaN,0.034151,NaN
2,0.038289,0.000397,NaN,0.000852,0.000057,NaN,0.014551,0.002416,NaN,0.000036,...,0.002517,NaN,NaN,0.000714,NaN,NaN,0.017792,NaN,0.034151,NaN
3,0.038289,0.000397,NaN,0.000852,0.000057,NaN,0.014551,0.002416,NaN,0.000036,...,0.002517,NaN,NaN,0.000714,NaN,NaN,0.017792,NaN,0.034151,NaN
4,0.038289,0.000397,NaN,0.000852,0.000057,NaN,0.014551,0.002416,NaN,0.000036,...,0.002517,NaN,NaN,0.000714,NaN,NaN,0.017792,NaN,0.034151,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,0.020506,NaN,0.000006,NaN,NaN,0.000004,0.010324,0.000274,NaN,0.000631,...,0.003245,NaN,0.000346,0.000702,0.000073,0.003103,0.015129,0.000699,0.024863,NaN
248,0.020506,NaN,0.000006,NaN,NaN,0.000004,0.010324,0.000274,NaN,0.000631,...,0.003245,NaN,0.000346,0.000702,0.000073,0.003103,0.015129,0.000699,0.024863,NaN
249,0.020506,NaN,0.000006,NaN,NaN,0.000004,0.010324,0.000274,NaN,0.000631,...,0.003245,NaN,0.000346,0.000702,0.000073,0.003103,0.015129,0.000699,0.024863,NaN
250,0.020506,NaN,0.000006,NaN,NaN,0.000004,0.010324,0.000274,NaN,0.000631,...,0.003245,NaN,0.000346,0.000702,0.000073,0.003103,0.015129,0.000699,0.024863,NaN
251,0.020506,NaN,0.000006,NaN,NaN,0.000004,0.010324,0.000274,NaN,0.000631,...,0.003245,NaN,0.000346,0.000702,0.000073,0.003103,0.015129,0.000699,0.024863,NaN

In [ ]:
df2 = pd.DataFrame(returnsarray)
df2

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
0,-0.147974,-0.075621,NaN,0.020439,-0.084609,NaN,-0.099370,0.043386,NaN,-0.058223,...,NaN,NaN,NaN,-0.038962,0.036036,NaN,0.009384,NaN,0.041946,0.012478
1,-0.287020,-0.027302,NaN,0.024025,-0.119001,NaN,-0.025027,-0.086441,NaN,-0.011351,...,NaN,NaN,NaN,-0.034316,0.052174,NaN,0.013968,NaN,-0.083736,0.023261
2,-0.161538,0.011247,NaN,-0.020741,-0.039002,NaN,-0.066516,-0.139795,NaN,-0.082365,...,NaN,NaN,NaN,-0.103567,0.016529,NaN,-0.027551,NaN,-0.173989,-0.090887
3,-0.327220,-0.020357,NaN,-0.102199,-0.074946,NaN,-0.300008,-0.274993,NaN,-0.227289,...,NaN,NaN,NaN,-0.121174,-0.081301,NaN,-0.066509,NaN,-0.291488,0.000000
4,0.290917,0.000000,NaN,-0.051276,0.293653,NaN,0.303564,0.051760,NaN,-0.044095,...,NaN,NaN,NaN,0.069590,0.053097,NaN,0.061147,NaN,0.124622,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,-0.089002,0.000000,-0.199973,0.000000,0.000000,-0.102041,-0.032342,0.024705,0.0,-0.033115,...,0.094513,0.0,-0.068422,-0.088139,0.000000,-0.014985,0.032166,-0.123181,0.082144,-0.103836
248,-0.048227,0.000000,-0.441231,0.000000,0.000000,-0.045455,-0.094720,0.000000,0.0,0.054798,...,-0.114467,0.0,-0.111841,-0.064440,-0.125000,0.000000,-0.022665,-0.287596,-0.068182,0.195138
249,0.016293,0.000000,0.368644,0.000000,0.000000,-0.079365,0.003415,-0.066332,0.0,0.181830,...,0.224335,0.0,0.026706,0.006377,0.142857,0.035516,0.052174,-0.100257,0.124391,-0.035707
250,-0.050843,0.000000,0.283503,0.000000,0.000000,-0.043103,-0.040106,-0.090313,0.0,-0.032969,...,-0.070385,0.0,-0.151171,0.017671,0.000000,-0.004087,0.027546,-0.057971,0.008395,0.026481
251,0.028523,0.000000,-0.243453,0.000000,0.000000,-0.207207,-0.009116,0.035303,0.0,0.116265,...,0.069737,0.0,-0.001455,-0.112242,0.000000,0.007542,-0.011289,-0.119924,-0.015127,0.000000

In [ ]:
#from google.colab import files
#df1.to_csv('df1.csv')
#df2.to_csv('df2.csv')

In [ ]:
#files.download("df1.csv")
#files.download("df2.csv")

Some of the cells in the weights and returns transformed into "dollar-error" as a string format. To further clean data, it has been downloaded as a csv file and manually deleted to take into account what the impact would have been on the single companies. It turned out that only 4 specific companies were affected and the error string has been replaced with an empty cell as a NAN. Then the file have been reuploaded on github to continue with the process.

# Cleaned Weights

In [ ]:
url_returns = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/monthly_returns.csv'
return_index = pd.read_csv(url_returns, on_bad_lines='skip', sep=';',decimal=',')

url_weights = 'https://raw.githubusercontent.com/giorgioterranova/QARM/main/weights_clean_final.csv'
weights_final_clean = pd.read_csv(url_weights, on_bad_lines='skip', sep=';',decimal=',')

In [ ]:
weights_final_clean #= pd.DataFrame(booktomarket, columns = df1.columns, index=df1.index)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,254,255,256,257,258,259,260,261,262,263
0,0,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
1,1,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
2,2,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
3,3,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
4,4,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,247,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
248,248,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
249,249,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
250,250,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
251,251,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN

In [ ]:
weights_final_clean.rename(columns = {'Unnamed: 0':'Date'}, inplace = True)
weights_final_clean.head(10)

return_index.rename(columns = {'Month':'Date'}, inplace = True)
return_index.head(10)

        Date     Index
0   1/7/2001 -0.025640
1   1/8/2001 -0.044457
2   1/9/2001 -0.051006
3  1/10/2001 -0.112720
4  1/11/2001  0.040366
5  1/12/2001  0.041375
6   1/1/2002  0.018412
7   1/2/2002 -0.030208
8   1/3/2002  0.000434
9   1/4/2002  0.044611

In [ ]:
#setting date as index - only run once!

weights_final_clean = weights_final_clean.set_index('Date')
weights_final_clean

return_index = return_index.set_index('Date')
return_index

              Index
Date
1/7/2001  -0.025640
1/8/2001  -0.044457
1/9/2001  -0.051006
1/10/2001 -0.112720
1/11/2001  0.040366
...             ...
1/2/2022  -0.027723
1/3/2022  -0.030101
1/4/2022   0.023141
1/5/2022  -0.007749
1/6/2022  -0.020235

[252 rows x 1 columns]

In [ ]:
weights_final_clean

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Date,,,,,,,,,,,,,,,,,,,,,
0,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
1,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
2,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
3,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
4,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
248,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
249,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
250,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
251,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN

In [ ]:
finalweights = pd.DataFrame(index=df_returns_calc.index.copy(), columns=df_returns_calc.columns.copy(), data=weights_final_clean.values.copy())
finalweights

,ABB LTD,ACCU HOLDING AG,ACHIKO AG,ACINO INTERNAT,ACTELION AG,ADDEX THERAPEUTICS,ADECCO GROUP,ADVAL TECH HOLDING A,ADVANCED DIGITAL,AEVIS VICTORIA,...,WEATHERFORD INTERNTL,WINTERTHUR TECH,YPSOMED HOLDING AG,ZEHNDER GROUP AG,ZUBLIN IMMOBILIEN,ZUG ESTATES,ZUGER KANTONALBANK,ZUR ROSE GROUP AG,ZURICH INSURANCE,ZWAHLEN & MAYR S.A.
Date,,,,,,,,,,,,,,,,,,,,,
7/1/01,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
8/1/01,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
9/1/01,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
10/1/01,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
11/1/01,0.03828906500486424,0.00039728825935037975,NaN,0.0008523653156471643,5.7081506259722035e-05,NaN,0.014550718866281646,0.0024162627939776134,NaN,3.6051369930966174e-05,...,0.002516938302818121,NaN,NaN,0.0007140928689184099,NaN,NaN,0.01779159975275088,NaN,0.03415126417031591,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2/1/22,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
3/1/22,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
4/1/22,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
5/1/22,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN
6/1/22,0.020505531482808842,NaN,6.436662925540536e-06,NaN,NaN,4.031310922097939e-06,0.010323876721459945,0.00027406539167476834,NaN,0.0006306715421040506,...,0.0032450463272501993,NaN,0.0003461032859318526,0.0007016625071139572,7.268520195163102e-05,0.0031029772593293616,0.01512875145779529,0.0006986699477340079,0.024863190448066688,NaN

# Returns

In [ ]:
#this df has been uploaded in cleaned weights already
return_index

              Index
Date
1/7/2001  -0.025640
1/8/2001  -0.044457
1/9/2001  -0.051006
1/10/2001 -0.112720
1/11/2001  0.040366
...             ...
1/2/2022  -0.027723
1/3/2022  -0.030101
1/4/2022   0.023141
1/5/2022  -0.007749
1/6/2022  -0.020235

[252 rows x 1 columns]

In [ ]:
plot = return_index.reset_index()
plot

          Date     Index
0     1/7/2001 -0.025640
1     1/8/2001 -0.044457
2     1/9/2001 -0.051006
3    1/10/2001 -0.112720
4    1/11/2001  0.040366
..         ...       ...
247   1/2/2022 -0.027723
248   1/3/2022 -0.030101
249   1/4/2022  0.023141
250   1/5/2022 -0.007749
251   1/6/2022 -0.020235

[252 rows x 2 columns]

In [ ]:
#!pip install plotly
import plotly.express as px

In [ ]:
fig = px.line(plot, x="Date", y="Index", title='Plot of Return Index (Monthly)')
fig.show()

In [ ]:
#cumulative index

indexlist = plot['Index'].tolist()

newlist = [x+1 for x in indexlist]

x = 100
newlist= [x] + newlist

#newlist

In [ ]:
plot['Cumulative1'] = newlist[0:252]
plot

          Date     Index  Cumulative1
0     1/7/2001 -0.025640   100.000000
1     1/8/2001 -0.044457     0.974360
2     1/9/2001 -0.051006     0.955543
3    1/10/2001 -0.112720     0.948994
4    1/11/2001  0.040366     0.887280
..         ...       ...          ...
247   1/2/2022 -0.027723     1.038172
248   1/3/2022 -0.030101     0.972277
249   1/4/2022  0.023141     0.969899
250   1/5/2022 -0.007749     1.023141
251   1/6/2022 -0.020235     0.992251

[252 rows x 3 columns]

In [ ]:
plot['Cumulative Frequency'] = plot['Cumulative1'].cumprod()

In [ ]:
plot

          Date     Index  Cumulative1  Cumulative Frequency
0     1/7/2001 -0.025640   100.000000            100.000000
1     1/8/2001 -0.044457     0.974360             97.435965
2     1/9/2001 -0.051006     0.955543             93.104291
3    1/10/2001 -0.112720     0.948994             88.355433
4    1/11/2001  0.040366     0.887280             78.395987
..         ...       ...          ...                   ...
247   1/2/2022 -0.027723     1.038172            390.310297
248   1/3/2022 -0.030101     0.972277            379.489708
249   1/4/2022  0.023141     0.969899            368.066509
250   1/5/2022 -0.007749     1.023141            376.584089
251   1/6/2022 -0.020235     0.992251            373.665892

[252 rows x 4 columns]

In [ ]:
fig2 = px.line(plot, x="Date", y="Cumulative Frequency", title='Plot of Return Index (Monthly)')
fig2.show()

In [ ]:
df_spi = df_spi.drop("Unnamed: 2", axis=1)
df_spi = df_spi.rename(columns={"SPI-Total Index Return": "SPI"})
df_spi

                 SPI
Date
01.06.2001   5206.79
01.07.2001   5048.65
01.08.2001   4775.11
01.09.2001   4458.20
01.10.2001   4032.03
...              ...
01.02.2022  15654.34
01.03.2022  15019.41
01.04.2022  15569.35
01.05.2022  15406.15
01.06.2022  14760.07

[253 rows x 1 columns]

In [ ]:
df_spi = df_spi.pct_change()
df_spi

                 SPI
Date
01.06.2001       NaN
01.07.2001 -0.030372
01.08.2001 -0.054181
01.09.2001 -0.066367
01.10.2001 -0.095592
...              ...
01.02.2022 -0.053008
01.03.2022 -0.040559
01.04.2022  0.036615
01.05.2022 -0.010482
01.06.2022 -0.041936

[253 rows x 1 columns]

In [ ]:
df_spi = df_spi.drop(df_spi.index[0])
df_spi

                 SPI
Date
01.07.2001 -0.030372
01.08.2001 -0.054181
01.09.2001 -0.066367
01.10.2001 -0.095592
01.11.2001  0.029214
...              ...
01.02.2022 -0.053008
01.03.2022 -0.040559
01.04.2022  0.036615
01.05.2022 -0.010482
01.06.2022 -0.041936

[252 rows x 1 columns]

In [ ]:
#cumulative index

indexlist = df_spi['SPI'].tolist()

newlist = [x+1 for x in indexlist]

x = 100
newlist= [x] + newlist

newlist

[100,
 0.969628120204579,
 0.9458191793845879,
 0.9336329424871888,
 0.9044076084518416,
 1.0292135723196503,
 1.0263866866514693,
 1.029023412187861,
 0.9723906784030812,
 1.0166004603548158,
 1.0528379663395402,
 0.9906940751182148,
 1.002327866240629,
 0.9154553964076932,
 0.8584423351468148,
 1.0008877102693472,
 0.9239828453386024,
 1.0348203545521926,
 1.0524999486301871,
 0.9051685669024297,
 0.9624741950392852,
 0.939008422676881,
 0.993662190311572,
 1.110035682426405,
 1.0488330330014743,
 0.9907317360681341,
 1.0707497360084477,
 1.0387448954079508,
 0.972531337168409,
 1.0565880004179888,
 1.010280461397518,
 1.0205680957508747,
 1.057386194397185,
 1.0136956542497828,
 0.980726704958917,
 1.028001296689839,
 0.9656557020924723,
 1.0094363127505122,
 0.9807670187680924,
 0.9890367916184108,
 1.0129004844475298,
 0.9823249506722957,
 1.017325196267808,
 1.0467901909484947,
 1.0083209766014791,
 1.0326069112223544,
 1.0017577762003822,
 1.0024699802401582,
 1.049005857602508,
 1.0141480056541008,
 1.0547042512119822,
 0.9947099725562438,
 1.068061268726938,
 1.0069844393275935,
 1.0572841881969197,
 1.0088740139496477,
 1.0359378727746713,
 1.0213438721889194,
 1.021493642760153,
 1.0072812639977828,
 0.9491564465018965,
 1.0125571314934407,
 1.0277887350433326,
 1.0328137778029685,
 1.0246120123303093,
 1.0303592333295077,
 0.9833554626816017,
 1.046534774590814,
 1.05456489801102,
 0.9525842072347127,
 1.0305022849417953,
 1.0623160665318112,
 1.0165916240054278,
 0.9689048271873636,
 0.9688235278443201,
 0.9947164746426538,
 1.013162842654191,
 0.9923981196569533,
 0.9721741736951961,
 0.9795017799634248,
 0.9174897190647816,
 0.9573403923815159,
 1.013601930639031,
 1.020918954863195,
 1.01142869852002,
 0.904347989985267,
 1.0359244412641289,
 1.0150390310638984,
 0.9263781387405066,
 0.9112305338720433,
 0.8912045552381325,
 1.002849872326598,
 0.9362658919294067,
 0.871491841382826,
 1.1280850036223136,
 1.067374520129583,
 1.028443327272079,
 1.0216178854037563,
 1.0878273908626426,
 1.0282802011296484,
 1.0240838212541334,
 1.0004628686748995,
 1.0133707158190837,
 1.0274934485057112,
 0.9976521399118442,
 1.0379285219278165,
 1.036923562801124,
 0.965160952855471,
 0.9531911901405311,
 0.9512721737518913,
 1.0580613922099342,
 0.9991419316548563,
 0.9994095713846087,
 1.0354000995370454,
 0.9929784217442422,
 1.0172732322361697,
 1.0075861962722885,
 1.0128429239056758,
 0.9837591054173774,
 1.0262425664247914,
 0.9931286549707603,
 0.9587861167244356,
 0.9274147818971398,
 0.9482038209370797,
 0.9861114693470208,
 1.0216392730170036,
 1.0141324384364512,
 1.0376895351727569,
 1.0295161242027726,
 1.0176651082301444,
 1.0337095108977177,
 0.9844932038969162,
 0.9454101871028892,
 1.0528741009731954,
 1.043051005258165,
 1.0056040829505708,
 1.0274406234870086,
 1.0059050576679849,
 1.0231155860633072,
 1.000096980719915,
 1.0848642083643323,
 1.029703884320288,
 1.0307937732226946,
 1.0250460415326377,
 0.9892361896757927,
 0.9945608961791487,
 1.012810386296528,
 1.0118198197224066,
 1.0218580183915662,
 1.0217761027599883,
 1.0054885654885655,
 0.9973088692797568,
 0.9884485838224036,
 1.0296006691225252,
 1.028999133736754,
 1.0153007208724054,
 1.0284051501733922,
 0.9925662919670214,
 0.9791905448757512,
 1.0371466405112315,
 1.0013149502668677,
 0.9953493856403178,
 1.0435133050878953,
 0.9857683446671639,
 0.937913725029722,
 1.0792716618134062,
 1.0198758595305417,
 1.0070364233883977,
 1.0218262220914207,
 0.961176171755851,
 1.061618532774133,
 0.9151402854244391,
 0.9878994672442266,
 1.0536608575737294,
 1.0104233067456825,
 0.9840702161412286,
 0.9462226068482743,
 0.9731944050612905,
 0.9820079624945965,
 1.0446970240491076,
 1.0307094734587645,
 0.9866290080508279,
 1.0104857844994444,
 1.003809383566299,
 1.00637791517102,
 0.954315540430685,
 1.0020597068237043,
 1.0512695741899172,
 1.0154633770926977,
 1.0386892405160615,
 1.0168485858523906,
 1.0374587532537223,
 1.029225820485139,
 0.9966711045446532,
 1.007528223509282,
 0.9893623315193302,
 1.0332835008847303,
 1.0093763311914097,
 0.9980365065042484,
 1.0125443691133524,
 0.9950732501760219,
 0.9460403008260939,
 1.006781771026306,
 1.0328786669924799,
 0.9818582944098387,
 0.9908041238709578,
 1.0643776949784889,
 0.9879401107164453,
 1.007930949930712,
 0.980447048351144,
 0.999259390143498,
 0.9245729872084273,
 1.071235577402376,
 1.0449046609264114,
 1.0287271758956738,
 1.0367426845924557,
 0.9912843114196994,
 1.036512024537346,
 1.000566446778054,
 1.0022048249194948,
 1.0001695468962581,
 1.023028007706874,
 1.0111723805690138,
 1.0261954627571983,
 1.0061382667964947,
 0.9326842826506043,
 0.929225364680999,
 1.0635712001372137,
 1.0285741883191875,
 1.0198186353967198,
 1.0136002402161945,
 1.0045581659899199,
 1.0053348851474093,
 0.955732649986624,
 1.0622381983627731,
 1.0269072462026125,
 1.003810808620726,
 0.9988690953585073,
 1.0568966007509986,
 1.0113524045800446,
 1.0327578264686486,
 1.0428046371577278,
 1.0171598325489482,
 1.0221797875454224,
 0.9353714744439388,
 1.0523677338240336,
 0.9953570793424964,
 1.0548327196850293,
 0.9469916397468937,
 0.9594406407424395,
 1.036615286485954,
 0.9895178668345178,
 0.9580635006150141]

In [ ]:
df_spi['Cumulative1'] = newlist[0:252]
df_spi

                 SPI  Cumulative1
Date
01.07.2001 -0.030372   100.000000
01.08.2001 -0.054181     0.969628
01.09.2001 -0.066367     0.945819
01.10.2001 -0.095592     0.933633
01.11.2001  0.029214     0.904408
...              ...          ...
01.02.2022 -0.053008     1.054833
01.03.2022 -0.040559     0.946992
01.04.2022  0.036615     0.959441
01.05.2022 -0.010482     1.036615
01.06.2022 -0.041936     0.989518

[252 rows x 2 columns]

In [ ]:
df_spi['Cumulative Frequency'] = df_spi['Cumulative1'].cumprod()
df_spi['Cumulative Frequency']

Date
01.07.2001    100.000000
01.08.2001     96.962812
01.09.2001     91.709287
01.10.2001     85.622812
01.11.2001     77.437922
                 ...
01.02.2022    317.481596
01.03.2022    300.652417
01.04.2022    288.458148
01.05.2022    299.020126
01.06.2022    295.885757
Name: Cumulative Frequency, Length: 252, dtype: float64

In [ ]:
fig3 = px.line(df_spi, x=df_spi.index, y="Cumulative Frequency", title='Plot of SPI Return Index (Monthly)')
fig3.show()

In [ ]:
#to be continued with SMI index and Cumulative Frequency of SMI index
# Create the first figure

import plotly.graph_objects as go

x1=plot['Date']
x2=plot['Date']
y1=plot['Cumulative Frequency']
y2= df_spi['Cumulative Frequency']

fig2.add_trace(go.Scatter(x=x1,y=y2,name='SPI'))